<md-content flex class="md-whiteframe-z3 md-padding">
 <div layout = "row">
  <div>
   <md-button id="main" class="md-icon-button"  aria-label="Show User List" ng-click = "back1()">
    <md-icon md-svg-icon="img/icon/ic_arrow_back_black_48px.svg" ></md-icon>
   </md-button>
  </div>
  <div>
    <ol class="breadcrumb">
       <li class="breadcrumb-item"><a href="#/home/alumno/verAsociadosC">Usuarios Comunidad</a></li>
        <li class="breadcrumb-item"><a href="#/home/alumno/terminal">Práctica terminal bancaria</a></li>
        <li class="breadcrumb-item"><a href="#/home/alumno/practicainfo">Información Práctica</a></li>
      <li class="breadcrumb-item"><a href="#/home/alumno/pautaE">Pauta de evaluación</a></li>
      <li class="breadcrumb-item active">Incidencias Práctica</li>
    </ol>
  </div>
</div>  

      <div layout-xs="column" flex layout = "column" layout-align = "center center">
        <h3>Incidencias Práctica</h3>
      </div>

    <md-content>
            <md-tabs md-dynamic-height="" md-border-bottom="">
              <md-tab label="HU-1">
                <md-content class="md-padding">
                   <div flex layout = "column" layout-align = "center center">
                      <h5>Incidencias HU-1</h5>
                    </div> 
                    <br>
                    <div flex layout = "row">
                        <md-input-container flex>
                          <label>Identificador</label>
                          <input ng-model="hu[0].identificadorHU" disabled>
                        </md-input-container>
                    </div>
                     <div flex layout = "row">
                        <md-input-container flex>
                          <label>Nombre</label>
                          <input ng-model="hu[0].nombreHU" disabled>
                        </md-input-container>
                    </div>
                      <md-input-container flex class="md-block" >
                      <label>Descripción</label>
                         <textarea ng-model="hu[0].descripcionHU" md-detect-hidden = "true" disabled></textarea>
                      </md-input-container>

                       <div flex layout = "column" layout-align = "center center">
                          <h5>Prueba de aceptación</h5>
                        </div>  
                        <br>
                        <div flex layout = "row">
                            <md-input-container flex>
                              <label>Identificador</label>
                              <input ng-model="pas[0].identificadorPA" disabled>
                            </md-input-container>
                        </div>
                         <div flex layout = "row">
                            <md-input-container flex>
                              <label>Nombre</label>
                              <input ng-model="pas[0].nombrePA" disabled>
                            </md-input-container>
                        </div>
                          <md-input-container flex class="md-block" >
                          <label>Descripción</label>
                             <textarea ng-model="pas[0].descripcionPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>

                       <div layout-xs="column" flex layout = "column" layout-align = "center center">
                          <h5>Incidencias</h5>
                        </div>
                        <br>
                        <div layout = "column" ng-repeat="i in iPA1">
                          <div layout = "row">
                              <md-input-container flex>
                              <label>Identificador</label>
                                <input type="text" ng-model="i.idI" disabled>
                              <md-input-container>
                          </div>
                          <div layout = "row">
                              <md-input-container flex>
                              <label>Descripción</label>
                                 <textarea ng-model="i.descripcion" md-detect-hidden = "true" rows="5" disabled></textarea>
                              <md-input-container>
                          </div>
                        </div>

                      <div flex layout = "column" layout-align = "center center">
                          <h5>Prueba de aceptación</h5>
                        </div>
                        <br>  
                        <div flex layout = "row">
                            <md-input-container flex>
                              <label>Identificador</label>
                              <input ng-model="pas[1].identificadorPA" disabled>
                            </md-input-container>
                        </div>
                         <div flex layout = "row">
                            <md-input-container flex>
                              <label>Nombre</label>
                              <input ng-model="pas[1].nombrePA" disabled>
                            </md-input-container>
                        </div>
                          <md-input-container flex class="md-block" >
                          <label>Descripción</label>
                             <textarea ng-model="pas[1].descripcionPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>

                      <div layout-xs="column" flex layout = "column" layout-align = "center center">
                          <h5>Incidencias</h5>
                        </div>
                        <br>
                        <div layout = "column" ng-repeat="i in iPA12">
                          <div layout = "row">
                              <md-input-container flex>
                              <label>Identificador</label>
                                <input type="text" ng-model="i.idI" disabled>
                              <md-input-container>
                          </div>
                          <div layout = "row">
                              <md-input-container flex>
                              <label>Descripción</label>
                                 <textarea ng-model="i.descripcion" md-detect-hidden = "true" rows="5" disabled></textarea>
                              <md-input-container>
                          </div>
                        </div>
                </md-content>
              </md-tab>
              <md-tab label="HU-2">
                <md-content class="md-padding">
                   <!-- HU 2-->  
                    <div flex layout = "column" layout-align = "center center">
                      <h5>Incidencias HU-2</h5>
                    </div>
                    <br>
                    <div flex layout = "row">
                        <md-input-container flex>
                          <label>Identificador</label>
                          <input ng-model="hu[1].identificadorHU" disabled>
                        </md-input-container>
                    </div>
                     <div flex layout = "row">
                        <md-input-container flex>
                          <label>Nombre</label>
                          <input ng-model="hu[1].nombreHU" disabled>
                        </md-input-container>
                    </div>
                      <md-input-container flex class="md-block" >
                      <label>Descripción</label>
                         <textarea ng-model="hu[1].descripcionHU" md-detect-hidden = "true" disabled></textarea>
                      </md-input-container>

                </md-content>
              </md-tab>
              <md-tab label="HU-3">
                <md-content class="md-padding">
                   <!-- HU 3-->    
                    <div flex layout = "column" layout-align = "center center">
                      <h5>Incidencias HU-3</h5>
                    </div>
                    <br>  
                    <div flex layout = "row">
                        <md-input-container flex>
                          <label>Identificador</label>
                          <input ng-model="hu[2].identificadorHU" disabled>
                        </md-input-container>
                    </div>
                     <div flex layout = "row">
                        <md-input-container flex>
                          <label>Nombre</label>
                          <input ng-model="hu[2].nombreHU" disabled>
                        </md-input-container>
                    </div>
                      <md-input-container flex class="md-block" >
                      <label>Descripción</label>
                         <textarea ng-model="hu[2].descripcionHU" md-detect-hidden = "true" disabled></textarea>
                      </md-input-container>

                        <div flex layout = "column" layout-align = "center center">
                          <h5>Prueba de aceptación</h5>
                        </div>
                        <br>  
                        <div flex layout = "row">
                            <md-input-container flex>
                              <label>Identificador</label>
                              <input ng-model="pas[2].identificadorPA" disabled>
                            </md-input-container>
                        </div>
                         <div flex layout = "row">
                            <md-input-container flex>
                              <label>Nombre</label>
                              <input ng-model="pas[2].nombrePA" disabled>
                            </md-input-container>
                        </div>
                          <md-input-container flex class="md-block" >
                          <label>Descripción</label>
                             <textarea ng-model="pas[2].descripcionPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>

                    <div layout-xs="column" flex layout = "column" layout-align = "center center">
                          <h5>Incidencias</h5>
                        </div>
                        <br>
                        <div layout = "column" ng-repeat="i in iPA2">
                          <div layout = "row">
                              <md-input-container flex>
                              <label>Identificador</label>
                                <input type="text" ng-model="i.idI" disabled>
                              <md-input-container>
                          </div>
                          <div layout = "row">
                              <md-input-container flex>
                              <label>Descripción</label>
                                 <textarea ng-model="i.descripcion" md-detect-hidden = "true" rows="5" disabled></textarea>
                              <md-input-container>
                          </div>
                    </div>   
                </md-content>
              </md-tab>
              <md-tab label="HU-4">
                <md-content class="md-padding">
                   <!-- HU 4-->   
                    <div flex layout = "column" layout-align = "center center">
                      <h5>Incidencias HU-4</h5>
                    </div>
                    <br>  
                    <div flex layout = "row">
                        <md-input-container flex>
                          <label>Identificador</label>
                          <input ng-model="hu[5].identificadorHU" disabled>
                        </md-input-container>
                    </div>
                     <div flex layout = "row">
                        <md-input-container flex>
                          <label>Nombre</label>
                          <input ng-model="hu[3].nombreHU" disabled>
                        </md-input-container>
                    </div>
                      <md-input-container flex class="md-block" >
                      <label>Descripción</label>
                         <textarea ng-model="hu[3].descripcionHU" md-detect-hidden = "true" disabled></textarea>
                      </md-input-container>

                      <div flex layout = "column" layout-align = "center center">
                          <h5>Prueba de aceptación</h5>
                        </div>
                        <br>  
                        <div flex layout = "row">
                            <md-input-container flex>
                              <label>Identificador</label>
                              <input ng-model="pas[3].identificadorPA" disabled>
                            </md-input-container>
                        </div>
                         <div flex layout = "row">
                            <md-input-container flex>
                              <label>Nombre</label>
                              <input ng-model="pas[3].nombrePA" disabled>
                            </md-input-container>
                        </div>
                          <md-input-container flex class="md-block" >
                          <label>Descripción</label>
                             <textarea ng-model="pas[3].descripcionPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>

                        <div layout-xs="column" flex layout = "column" layout-align = "center center">
                          <h4>Incidencias</h4>
                        </div>
                        <br>
                        <div layout = "column" ng-repeat="i in iPA3">
                          <div layout = "row">
                              <md-input-container flex>
                              <label>Identificador</label>
                                <input type="text" ng-model="i.idI" disabled>
                              <md-input-container>
                          </div>
                          <div layout = "row">
                              <md-input-container flex>
                              <label>Descripción</label>
                                 <textarea ng-model="i.descripcion" md-detect-hidden = "true" rows="5" disabled></textarea>
                              <md-input-container>
                          </div>
                        </div>
                </md-content>
              </md-tab>
              <md-tab label="HU-5">
                <md-content class="md-padding">
                  <!-- HU 5-->    
                    <div flex layout = "column" layout-align = "center center">
                      <h5>Incidencias HU-5</h5>
                    </div>
                    <br>  
                    <div flex layout = "row">
                        <md-input-container flex>
                          <label>Identificador</label>
                          <input ng-model="hu[4].identificadorHU" disabled>
                        </md-input-container>
                    </div>
                     <div flex layout = "row">
                        <md-input-container flex>
                          <label>Nombre</label>
                          <input ng-model="hu[4].nombreHU" disabled>
                        </md-input-container>
                    </div>
                      <md-input-container flex class="md-block" >
                      <label>Descripción</label>
                         <textarea ng-model="hu[4].descripcionHU" md-detect-hidden = "true" disabled></textarea>
                      </md-input-container>
                    
                    <div flex layout = "column" layout-align = "center center">
                          <h5>Prueba de aceptación</h5>
                        </div> 
                        <br> 
                        <div flex layout = "row">
                            <md-input-container flex>
                              <label>Identificador</label>
                              <input ng-model="pas[4].identificadorPA" disabled>
                            </md-input-container>
                        </div>
                         <div flex layout = "row">
                            <md-input-container flex>
                              <label>Nombre</label>
                              <input ng-model="pas[4].nombrePA" disabled>
                            </md-input-container>
                        </div>
                          <md-input-container flex class="md-block" >
                          <label>Descripción</label>
                             <textarea ng-model="pas[4].descripcionPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>

                          <div layout-xs="column" flex layout = "column" layout-align = "center center">
                          <h5>Incidencias</h5>
                        </div>
                        <br>
                        <div layout = "column" ng-repeat="i in iPA4">
                          <div layout = "row">
                              <md-input-container flex>
                              <label>Identificador</label>
                                <input type="text" ng-model="i.idI" disabled>
                              <md-input-container>
                          </div>
                          <div layout = "row">
                              <md-input-container flex>
                              <label>Descripción</label>
                                 <textarea ng-model="i.descripcion" md-detect-hidden = "true" rows="5" disabled></textarea>
                              <md-input-container>
                          </div>
                        </div>      
                </md-content>
              </md-tab>
              <md-tab label="HU-6">
                <md-content class="md-padding">
                  <!-- HU 6-->  
                    <div flex layout = "column" layout-align = "center center">
                      <h5>Incidencias HU-6</h5>
                    </div>
                    <br>  
                    <div flex layout = "row">
                        <md-input-container flex>
                          <label>Identificador</label>
                          <input ng-model="hu[5].identificadorHU" disabled>
                        </md-input-container>
                    </div>
                     <div flex layout = "row">
                        <md-input-container flex>
                          <label>Nombre</label>
                          <input ng-model="hu[5].nombreHU" disabled>
                        </md-input-container>
                    </div>
                      <md-input-container flex class="md-block" >
                      <label>Descripción</label>
                         <textarea ng-model="hu[5].descripcionHU" md-detect-hidden = "true" disabled></textarea>
                      </md-input-container>

                      <div flex layout = "column" layout-align = "center center">
                          <h5>Prueba de aceptación</h5>
                        </div>
                        <br>  
                        <div flex layout = "row">
                            <md-input-container flex>
                              <label>Identificador</label>
                              <input ng-model="pas[5].identificadorPA" disabled>
                            </md-input-container>
                        </div>
                         <div flex layout = "row">
                            <md-input-container flex>
                              <label>Nombre</label>
                              <input ng-model="pas[5].nombrePA" disabled>
                            </md-input-container>
                        </div>
                          <md-input-container flex class="md-block" >
                          <label>Descripción</label>
                             <textarea ng-model="pas[5].descripcionPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>

                          <div layout-xs="column" flex layout = "column" layout-align = "center center">
                          <h5>Incidencias</h5>
                        </div>
                          <br>
                        <div layout = "column" ng-repeat="i in iPA41">
                          <div layout = "row">
                              <md-input-container flex>
                              <label>Identificador</label>
                                <input type="text" ng-model="i.idI" disabled>
                              <md-input-container>
                          </div>
                          <div layout = "row">
                              <md-input-container flex>
                              <label>Descripción</label>
                                 <textarea ng-model="i.descripcion" md-detect-hidden = "true" rows="5" disabled></textarea>
                              <md-input-container>
                          </div>
                        </div>


                      <div flex layout = "column" layout-align = "center center">
                          <h5>Prueba de aceptación</h5>
                        </div>
                        <br>  
                        <div flex layout = "row">
                            <md-input-container flex>
                              <label>Identificador</label>
                              <input ng-model="pas[6].identificadorPA" disabled>
                            </md-input-container>
                        </div>
                         <div flex layout = "row">
                            <md-input-container flex>
                              <label>Nombre</label>
                              <input ng-model="pas[6].nombrePA" disabled>
                            </md-input-container>
                        </div>
                          <md-input-container flex class="md-block" >
                          <label>Descripción</label>
                             <textarea ng-model="pas[6].descripcionPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>



                        <div layout-xs="column" flex layout = "column" layout-align = "center center">
                          <h5>Incidencias</h5>
                        </div>
                        <br>
                        <div layout = "column" ng-repeat="i in iPA42">
                          <div layout = "row">
                              <md-input-container flex>
                              <label>Identificador</label>
                                <input type="text" ng-model="i.idI" disabled>
                              <md-input-container>
                          </div>
                          <div layout = "row">
                              <md-input-container flex>
                              <label>Descripción</label>
                                 <textarea ng-model="i.descripcion" md-detect-hidden = "true" rows="5" disabled></textarea>
                              <md-input-container>
                          </div>
                        </div> 
                </md-content>
              </md-tab>
              <md-tab label="HU-7">
                <md-content class="md-padding">
                   <!-- HU-7-->  
                    <div flex layout = "column" layout-align = "center center">
                      <h5>Incidencias HU-7</h5>
                    </div>
                    <br>  
                    <div flex layout = "row">
                        <md-input-container flex>
                          <label>Identificador</label>
                          <input ng-model="hu[6].identificadorHU" disabled>
                        </md-input-container>
                    </div>
                     <div flex layout = "row">
                        <md-input-container flex>
                          <label>Nombre</label>
                          <input ng-model="hu[6].nombreHU" disabled>
                        </md-input-container>
                    </div>
                      <md-input-container flex class="md-block" >
                      <label>Descripción</label>
                         <textarea ng-model="hu[6].descripcionHU" md-detect-hidden = "true" disabled></textarea>
                      </md-input-container>
                       <div flex layout = "column" layout-align = "center center">
                          <h5>Prueba de aceptación</h5>
                        </div>
                        <br>  
                        <div flex layout = "row">
                            <md-input-container flex>
                              <label>Identificador</label>
                              <input ng-model="pas[7].identificadorPA" disabled>
                            </md-input-container>
                        </div>
                         <div flex layout = "row">
                            <md-input-container flex>
                              <label>Nombre</label>
                              <input ng-model="pas[7].nombrePA" disabled>
                            </md-input-container>
                        </div>
                          <md-input-container flex class="md-block" >
                          <label>Descripción</label>
                             <textarea ng-model="pas[7].descripcionPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>


                      <div layout-xs="column" flex layout = "column" layout-align = "center center">
                          <h5>Incidencias</h5>
                        </div>
                        <br>
                        <div layout = "column" ng-repeat="i in iPA5">
                          <div layout = "row">
                              <md-input-container flex>
                              <label>Identificador</label>
                                <input type="text" ng-model="i.idI" disabled>
                              <md-input-container>
                          </div>
                          <div layout = "row">
                              <md-input-container flex>
                              <label>Descripción</label>
                                 <textarea ng-model="i.descripcion" md-detect-hidden = "true" rows="6" disabled></textarea>
                              <md-input-container>
                          </div>
                        </div> 
                </md-content>
              </md-tab>
              <md-tab label="HU-8">
                <md-content class="md-padding">
                  <div flex layout = "column" layout-align = "center center">
                      <h5>Incidencias HU-8</h5>
                    </div>
                    <br>  
                    <div flex layout = "row">
                        <md-input-container flex>
                          <label>Identificador</label>
                          <input ng-model="hu[7].identificadorHU" disabled>
                        </md-input-container>
                    </div>
                     <div flex layout = "row">
                        <md-input-container flex>
                          <label>Nombre</label>
                          <input ng-model="hu[7].nombreHU" disabled>
                        </md-input-container>
                    </div>
                      <md-input-container flex class="md-block" >
                      <label>Descripción</label>
                         <textarea ng-model="hu[7].descripcionHU" md-detect-hidden = "true" rows = "4" disabled></textarea>
                      </md-input-container>   
                </md-content>
              </md-tab>
            </md-tabs>
</md-content>

</md-content>
