<md-content class="md-whiteframe-z3" flex id="content">
 <div layout = "row">
  <div>
   <md-button id="main" class="md-icon-button"  aria-label="Show User List" ng-click = "back1()">
    <md-icon md-svg-icon="img/icon/ic_arrow_back_black_48px.svg" ></md-icon>
   </md-button>
  </div>
  <div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#/home/alumno/verAsociadosC">Usuarios Comunidad</a></li>
        <li class="breadcrumb-item"><a href="#/home/alumno/terminal">Práctica terminal bancaria</a></li>
        <li class="breadcrumb-item"><a href="#/home/alumno/practicahome">Inicio Práctica</a></li>
        <li class="breadcrumb-item"><a href="#/home/alumno/practicaincidencias">Gestión Incidencias</a></li>
        <li class="breadcrumb-item active">Incidencia</li>
      </ol>
  </div>
</div>
  <div layout = "row" layout-align="center center">
                      <div layout = "column" layout-align="center center">
                      <br>
                      <div>
                        <h3>Información Incidencia</h3>
                      </div>
                        <br>
                          <div flex layout = "column" layout-align = "center center" ng-show = "sesion.getPracticaT().estadoPidEstadoP.nombre == 'Corregida'">
                            <md-button ng-click="toggleLeft()" class="md-raised">
                              Pauta de evaluación
                            </md-button>
                          </div>
                          <br>
                          <div>
                            <md-input-container>
                              <label>Caso de prueba</label>
                              <textarea type="text" ng-model="incidenciacp.casoPruebaidCp.identificadorCaso" rows="3" disabled></textarea>
                            </md-input-container>
                          </div>
                          <div>
                            <md-input-container>
                              <label>Nombre caso de prueba</label>
                              <textarea type="text" ng-model="incidenciacp.casoPruebaidCp.nombre" rows="3" disabled></textarea>
                            </md-input-container>
                          </div>
                          <div>
                            <md-input-container>
                              <label>Identificador</label>
                              <textarea type="text" ng-model="incidenciacp.identificadorICP" rows="3" disabled></textarea>
                            </md-input-container>
                          </div>
                          <div>
                            <md-input-container>
                              <label>Nombre</label>
                              <textarea type="text"  ng-model="incidenciacp.nombreICP" rows="3" disabled></textarea>
                            </md-input-container>
                          </div>
                          <div>
                            <md-input-container>
                              <label>Descripción</label>
                              <textarea type="text" ng-model="incidenciacp.descripcionICP" rows="3" disabled></textarea>
                            </md-input-container>
                          </div>
                          <div>
                            <md-input-container>
                              <label>Pasos</label>
                              <textarea type="text" ng-model="incidenciacp.pasosICP" rows="3" disabled></textarea>
                            </md-input-container>
                          </div>
                           <div>
                            <md-input-container>
                              <label>Resultados Esperados</label>
                              <textarea type="text"  ng-model="incidenciacp.resultadoEICP" rows="3" disabled></textarea>
                            </md-input-container>
                          </div>
                          <div>
                            <md-input-container>
                              <label>Resultados Obtenidos</label>
                              <textarea type="text"  ng-model="incidenciacp.resultadoOICP" rows="3" disabled></textarea>
                            </md-input-container>
                          </div>
                          <div>
                            <md-input-container>
                              <label>Fecha Creación</label>
                              <textarea type="text" ng-model="incidenciacp.fechaCICP" rows="3" disabled></textarea>
                            </md-input-container>
                          </div>
                          <div>
                            <md-input-container>
                              <label>Fecha Edición</label>
                              <textarea type="text" ng-model="incidenciacp.fechaE" rows="3" disabled></textarea>
                            </md-input-container>
                          </div>
                          <div>
                            <md-input-container>
                              <label>Estado</label>
                              <textarea type="text" ng-model="incidenciacp.estadoIidEstadoI.nombre" rows="3" disabled></textarea>
                            </md-input-container>
                          </div>
                          <div layout = "column" layout-align="center center" ng-show = "sesion.getPracticaT().estadoPidEstadoP.nombre == 'Desarrollo' && sesion.practicaT.corrector.estadoidEstado.nombreE == 'Abierta'">
                            <md-button class="md-raised md-primary" ng-click="editICP()">Editar</md-button>
                          </div>
                      </div>
  </div>
</md-content>