<md-content flex class="md-whiteframe-z3 md-padding">
	<div layout = "row">
	  <div>
	   <md-button id="main" class="md-icon-button"  aria-label="Show User List" ng-click = "back()">
	    <md-icon md-svg-icon="img/icon/ic_arrow_back_black_48px.svg" ></md-icon>
	   </md-button>
	  </div>
		<div flex>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#/home/alumno/verAsociadosC">Usuarios Comunidad</a></li>
        <li class="breadcrumb-item"><a href="#/home/alumno/terminal">Práctica terminal bancaria</a></li>
        <li class="breadcrumb-item"><a href="#/home/alumno/practicahome">Inicio Práctica</a></li>
        <li class="breadcrumb-item active">Historias de usuario</li>
      </ol>
    </div>  
	</div>
  <div layout = "column" layout-align="center center">
          <br>
          <h3>Historias de usuario</h3>
  </div>
  <!-- HU 1-->   
      <div layout-xs="column" flex layout = "column" layout-align = "center center">
        <h4>HU-1</h4>
      </div>  
      <div flex layout = "row">
          <md-input-container flex>
            <label>Identificador</label>
            <input ng-model="hu[0].identificadorHU" disabled>
          </md-input-container>
      </div>
       <div flex layout = "row">
          <md-input-container flex>
            <label>Nombre</label>
            <input ng-model="hu[0].nombreHU" disabled>
          </md-input-container>
      </div>

        <md-input-container class="md-block">
          <label>Descripción</label>
          <textarea ng-model="hu[0].descripcionHU" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
      <div layout-xs="column" flex layout = "column" layout-align = "center center">
        <h4>Prueba de aceptación</h4>
      </div>
      <div flex layout = "row">
          <md-input-container flex>
            <label>Prueba de aceptación</label>
            <input ng-model="pas[0].identificadorPA" disabled>
          </md-input-container>
      </div>
      <div flex layout = "row">
          <md-input-container flex>
            <label>Nombre</label>
            <input ng-model="pas[0].nombrePA" disabled>
          </md-input-container>
      </div>
       <md-input-container class="md-block">
          <label>Descripción</label>
          <textarea ng-model="pas[0].descripcionPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
         <md-input-container class="md-block">
          <label>Precondición</label>
          <textarea ng-model="pas[0].precondicionesPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Pasos</label>
          <textarea ng-model="pas[0].pasosPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Resultados Esperados</label>
          <textarea ng-model="pas[0].resultadosEPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>


      <div layout-xs="column" flex layout = "column" layout-align = "center center">
        <h4>Prueba de aceptación</h4>
      </div>
      <div flex layout = "row">
          <md-input-container flex>
            <label>Prueba de aceptación</label>
            <input ng-model="pas[1].identificadorPA" disabled>
          </md-input-container>
      </div>
      <div flex layout = "row">
          <md-input-container flex>
            <label>Nombre</label>
            <input ng-model="pas[1].nombrePA" disabled>
          </md-input-container>
      </div>
             <md-input-container class="md-block">
          <label>Descripción</label>
          <textarea ng-model="pas[1].descripcionPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
         <md-input-container class="md-block">
          <label>Precondición</label>
          <textarea ng-model="pas[1].precondicionesPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Pasos</label>
          <textarea ng-model="pas[1].pasosPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Resultados Esperados</label>
          <textarea ng-model="pas[1].resultadosEPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>

      <!-- HU 2 y 3 -->
      <div layout-xs="column" flex layout = "column" layout-align = "center center">
        <h4>HU-2 y 3</h4>
      </div>
            <div flex layout = "row">
          <md-input-container flex>
            <label>Identificador</label>
            <input ng-model="hu[1].identificadorHU" disabled>
          </md-input-container>
      </div>
       <div flex layout = "row">
          <md-input-container flex>
            <label>Nombre</label>
            <input ng-model="hu[1].nombreHU" disabled>
          </md-input-container>
      </div>

        <md-input-container class="md-block">
          <label>Descripción</label>
          <textarea ng-model="hu[1].descripcionHU" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>

        <div flex layout = "row">
          <md-input-container flex>
            <label>Identificador</label>
            <input ng-model="hu[2].identificadorHU" disabled>
          </md-input-container>
      </div>
       <div flex layout = "row">
          <md-input-container flex>
            <label>Nombre</label>
            <input ng-model="hu[2].nombreHU" disabled>
          </md-input-container>
      </div>

        <md-input-container class="md-block">
          <label>Descripción</label>
          <textarea ng-model="hu[2].descripcionHU" md-maxlength="500" rows="10" md-select-on-focus="" disabled></textarea>
        </md-input-container>


      <div layout-xs="column" flex layout = "column" layout-align = "center center">
        <h4>Prueba de aceptación</h4>
      </div>
      <div flex layout = "row">
          <md-input-container flex>
            <label>Prueba de aceptación</label>
            <input ng-model="pas[2].identificadorPA" disabled>
          </md-input-container>
      </div>
      <div flex layout = "row">
          <md-input-container flex>
            <label>Nombre</label>
            <input ng-model="pas[2].nombrePA" disabled>
          </md-input-container>
      </div>
             <md-input-container class="md-block">
          <label>Descripción</label>
          <textarea ng-model="pas[3].descripcionPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
         <md-input-container class="md-block">
          <label>Precondición</label>
          <textarea ng-model="pas[3].precondicionesPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Pasos</label>
          <textarea ng-model="pas[3].pasosPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Resultados Esperados</label>
          <textarea ng-model="pas[3].resultadosEPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>

      <!-- HU 2 y HU 4 -->
      <div layout-xs="column" flex layout = "column" layout-align = "center center">
        <h4>HU-2 y 4</h4>
      </div>
      <div flex layout = "row">
          <md-input-container flex>
            <label>Identificador</label>
            <input ng-model="hu[1].identificadorHU" disabled>
          </md-input-container>
      </div>
       <div flex layout = "row">
          <md-input-container flex>
            <label>Nombre</label>
            <input ng-model="hu[1].nombreHU" disabled>
          </md-input-container>
      </div>

        <md-input-container class="md-block">
          <label>Descripción</label>
          <textarea ng-model="hu[1].descripcionHU" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
      <div flex layout = "row">
          <md-input-container flex>
            <label>Identificador</label>
            <input ng-model="hu[3].identificadorHU" disabled>
          </md-input-container>
      </div>
       <div flex layout = "row">
          <md-input-container flex>
            <label>Nombre</label>
            <input ng-model="hu[3].nombreHU" disabled>
          </md-input-container>
      </div>

        <md-input-container class="md-block">
          <label>Descripción</label>
          <textarea ng-model="hu[3].descripcionHU" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>


      <div layout-xs="column" flex layout = "column" layout-align = "center center">
        <h4>Prueba de aceptación</h4>
      </div>
      <div flex layout = "row">
          <md-input-container flex>
            <label>Prueba de aceptación</label>
            <input ng-model="pas[3].identificadorPA" disabled>
          </md-input-container>
      </div>
      <div flex layout = "row">
          <md-input-container flex>
            <label>Nombre</label>
            <input ng-model="pas[3].nombrePA" disabled>
          </md-input-container>
      </div>
            <md-input-container class="md-block">
          <label>Descripción</label>
          <textarea ng-model="pas[3].descripcionPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
         <md-input-container class="md-block">
          <label>Precondición</label>
          <textarea ng-model="pas[3].precondicionesPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Pasos</label>
          <textarea ng-model="pas[3].pasosPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Resultados Esperados</label>
          <textarea ng-model="pas[3].resultadosEPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
      <!-- HU 5 y HU 6 -->
      <div layout-xs="column" flex layout = "column" layout-align = "center center">
        <h4>HU-5 y 6</h4>
      </div>
           <div flex layout = "row">
          <md-input-container flex>
            <label>Identificador</label>
            <input ng-model="hu[4].identificadorHU" disabled>
          </md-input-container>
      </div>
       <div flex layout = "row">
          <md-input-container flex>
            <label>Nombre</label>
            <input ng-model="hu[4].nombreHU" disabled>
          </md-input-container>
      </div>

        <md-input-container class="md-block">
          <label>Descripción</label>
          <textarea ng-model="hu[4].descripcionHU" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
          <div flex layout = "row">
          <md-input-container flex>
            <label>Identificador</label>
            <input ng-model="hu[5].identificadorHU" disabled>
          </md-input-container>
      </div>
       <div flex layout = "row">
          <md-input-container flex>
            <label>Nombre</label>
            <input ng-model="hu[5].nombreHU" disabled>
          </md-input-container>
      </div>

        <md-input-container class="md-block">
          <label>Descripción</label>
          <textarea ng-model="hu[5].descripcionHU" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
      <div layout-xs="column" flex layout = "column" layout-align = "center center">
        <h4>Prueba de aceptación</h4>
      </div>
      <div flex layout = "row">
          <md-input-container flex>
            <label>Prueba de aceptación</label>
            <input ng-model="pas[4].identificadorPA" disabled>
          </md-input-container>
      </div>
      <div flex layout = "row">
          <md-input-container flex>
            <label>Nombre</label>
            <input ng-model="pas[4].nombrePA" disabled>
          </md-input-container>
      </div>
              <md-input-container class="md-block">
          <label>Descripción</label>
          <textarea ng-model="pas[4].descripcionPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
         <md-input-container class="md-block">
          <label>Precondición</label>
          <textarea ng-model="pas[4].precondicionesPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Pasos</label>
          <textarea ng-model="pas[4].pasosPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Resultados Esperados</label>
          <textarea ng-model="pas[4].resultadosEPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>

        <div layout-xs="column" flex layout = "column" layout-align = "center center">
        <h4>Prueba de aceptación</h4>
      </div>
        <div flex layout = "row">
          <md-input-container flex>
            <label>Prueba de aceptación</label>
            <input ng-model="pas[5].identificadorPA" disabled>
          </md-input-container>
      </div>
      <div flex layout = "row">
          <md-input-container flex>
            <label>Nombre</label>
            <input ng-model="pas[5].nombrePA" disabled>
          </md-input-container>
      </div>
       <md-input-container class="md-block">
          <label>Descripción</label>
          <textarea ng-model="pas[5].descripcionPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
         <md-input-container class="md-block">
          <label>Precondición</label>
          <textarea ng-model="pas[5].precondicionesPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Pasos</label>
          <textarea ng-model="pas[5].pasosPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Resultados Esperados</label>
          <textarea ng-model="pas[5].resultadosEPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
      <br>
      <div layout-xs="column" flex layout = "column" layout-align = "center center">
        <h4>Prueba de aceptación</h4>
      </div>
      <div flex layout = "row">
          <md-input-container flex>
            <label>Prueba de aceptación</label>
            <input ng-model="pas[6].identificadorPA" disabled>
          </md-input-container>
      </div>
      <div flex layout = "row">
          <md-input-container flex>
            <label>Nombre</label>
            <input ng-model="pas[6].nombrePA" disabled>
          </md-input-container>
      </div>
            <md-input-container class="md-block">
          <label>Descripción</label>
          <textarea ng-model="pas[6].descripcionPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
         <md-input-container class="md-block">
          <label>Precondición</label>
          <textarea ng-model="pas[6].precondicionesPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Pasos</label>
          <textarea ng-model="pas[6].pasosPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Resultados Esperados</label>
          <textarea ng-model="pas[6].resultadosEPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>

      <br>
      
      <!-- HU 7 -->
      <div layout-xs="column" flex layout = "column" layout-align = "center center">
        <h4>HU-7</h4>
      </div>
      <div flex layout = "row">
          <md-input-container flex>
            <label>Identificador</label>
            <input ng-model="hu[6].identificadorHU" disabled>
          </md-input-container>
      </div>
       <div flex layout = "row">
          <md-input-container flex>
            <label>Nombre</label>
            <input ng-model="hu[6].nombreHU" disabled>
          </md-input-container>
      </div>

        <md-input-container class="md-block">
          <label>Descripción</label>
          <textarea ng-model="hu[6].descripcionHU" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
      <div layout-xs="column" flex layout = "column" layout-align = "center center">
        <h4>Prueba de aceptación</h4>
      </div>
      <div flex layout = "row">
          <md-input-container flex>
            <label>Prueba de aceptación</label>
            <input ng-model="pas[7].identificadorPA" disabled>
          </md-input-container>
      </div>
      <div flex layout = "row">
          <md-input-container flex>
            <label>Nombre</label>
            <input ng-model="pas[7].nombrePA" disabled>
          </md-input-container>
      </div>
        <md-input-container class="md-block">
          <label>Descripción</label>
          <textarea ng-model="pas[7].descripcionPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
         <md-input-container class="md-block">
          <label>Precondición</label>
          <textarea ng-model="pas[7].precondicionesPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Pasos</label>
          <textarea ng-model="pas[7].pasosPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Resultados Esperados</label>
          <textarea ng-model="pas[7].resultadosEPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>

        <!-- HU-8 -->
        <div layout-xs="column" flex layout = "column" layout-align = "center center">
        <h4>HU-8</h4>
      </div>
      <div flex layout = "row">
          <md-input-container flex>
            <label>Identificador</label>
            <input ng-model="hu[7].identificadorHU" disabled>
          </md-input-container>
      </div>
       <div flex layout = "row">
          <md-input-container flex>
            <label>Nombre</label>
            <input ng-model="hu[7].nombreHU" disabled>
          </md-input-container>
      </div>

        <md-input-container class="md-block">
          <label>Descripción</label>
          <textarea ng-model="hu[7].descripcionHU" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
      <div layout-xs="column" flex layout = "column" layout-align = "center center">
        <h4>Prueba de aceptación</h4>
      </div>
      <div flex layout = "row">
          <md-input-container flex>
            <label>Prueba de aceptación</label>
            <input ng-model="pas[8].identificadorPA" disabled>
          </md-input-container>
      </div>
      <div flex layout = "row">
          <md-input-container flex>
            <label>Nombre</label>
            <input ng-model="pas[8].nombrePA" disabled>
          </md-input-container>
      </div>
        <md-input-container class="md-block">
          <label>Descripción</label>
          <textarea ng-model="pas[8].descripcionPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
         <md-input-container class="md-block">
          <label>Precondición</label>
          <textarea ng-model="pas[8].precondicionesPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Pasos</label>
          <textarea ng-model="pas[8].pasosPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Resultados Esperados</label>
          <textarea ng-model="pas[8].resultadosEPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>


</md-content>