<md-content flex class="md-whiteframe-z3 md-padding">
	<div layout = "row">
	  <div>
	   <md-button id="main" class="md-icon-button"  aria-label="Show User List" ng-click = "back()">
	    <md-icon md-svg-icon="img/icon/ic_arrow_back_black_48px.svg" ></md-icon>
	   </md-button>
	  </div>
		<div flex>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#/home/alumno/verAsociadosC">Usuarios Comunidad</a></li>
        <li class="breadcrumb-item"><a href="#/home/alumno/terminal">Práctica terminal bancaria</a></li>
        <li class="breadcrumb-item"><a href="#/home/alumno/practicainfo">Información Práctica</a></li>
        <li class="breadcrumb-item active">Inicio Práctica</li>
      </ol>
    </div>  
	</div>
	  <div layout-xs="column" flex layout = "column" layout-align = "center center" ng-show = "sesion.practicaT.estadoPidEstadoP.nombre == 'Desarrollo P1' || sesion.practicaT.estadoPidEstadoP.nombre == 'Corregir P1' || sesion.practicaT.estadoPidEstadoP.nombre == 'Corregida P1'">
	    <div>
		    <h3>Enunciado</h3>
	    </div>

      <div align = "center">
        <p align="justify">El alumno debe crear <strong>casos de prueba funcionales</strong> utilizando las historias de usuario y pruebas de aceptación del módulo bancario. Una vez confeccionados los casos de prueba, debe proceder a identificar incidencias dentro del módulo y dejar evidencia de su existencia. Se recomienda previamente haber leído el <strong>material teórico</strong> y tomar en cuenta los <strong>tips</strong> que se entregan en cada tópico.</p>
        <h4>Instrucciones</h4>
        <p align="justify">1. Dirigirse a la sección <strong>Historias de usuario</strong> para analizar las historias de usuario y pruebas de aceptación del módulo bancario.</p>
        <p align="justify">2. Confeccionar las pruebas funcionales, en la sección <strong>Gestión de pruebas funcionales</strong>.</p>
        <p align="justify">3. Inspeccionar el módulo bancario ingresando con su rut y contraseña de la plataforma, en la sección <strong>Módulo bancario dañado</strong>.</p>
        <p align="justify">4. Dejar evidencia de las incidencias identificadas en la sección <strong>Gestión de incidencias</strong>.</p>
        <p align="justify">5. Enviar a corrección una vez finalizada la actividad utilizando la sección <strong>Enviar a corrección</strong></p> 

        <p align="justify">6. Comunicarse con el corrector en la sección <strong>Canal de comunicación</strong></p><br>

      </div>

      <div flex layout = "row" layout-align = "center center">
        <div>
          <md-input-container>
          <label>Comunidad</label>
           <input type="text" name = "rol" ng-model="sesion.getPracticaT().comunidadidComunidad.nombreC" disabled>
          </md-input-container>
        </div>
        <div>
          <md-input-container>
          <label>Corrector</label>
           <input type="text" name = "rol" ng-model="nombreCorrector" disabled>
          </md-input-container>
        </div>
        <div>
          <md-input-container>
          <label>Rol</label>
           <input type="text" name = "rol" ng-model="sesion.getPracticaT().corrector.tipoUsuarioidTipoUsuario.nombreTU" disabled>
          </md-input-container>
        </div>
        <div>
          <md-input-container>
          <label>Email</label>
           <input type="text" name = "rol" ng-model="sesion.getPracticaT().corrector.emailU" disabled>
          </md-input-container>
        </div>
      </div>
        <br>
      <div layout = "row" layout-align = "center center">
        <div layout = "column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Historias de usuario&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</span>
                  <br>
            <span align = "center" class="md-subhead">Visualize las historias de usuario y <br>pruebas de aceptación del <br>módulo bancario</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
               <md-button  ng-click="verHU()">Ir</md-button>
              </md-card-actions>
            </md-card>
        </div>
        <div layout = "column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Módulo bancario dañado&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</span>
                  <br>
            <span align = "center" class="md-subhead">Ingrese al módulo bancario dañado para <br>interactuar con sus funcionalidades<br> e identificar sus incidencias</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
               <md-button  ng-click="verTerminal()">Ir</md-button>
              </md-card-actions>
            </md-card>
        </div>
	    </div>

      <div  flex layout = "row" layout-align = "center center">
 
          <div layout = "column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Gestión de pruebas funcionales &nbsp &nbsp </span>
                  <br>
            <span align = "center" class="md-subhead">Gestione las pruebas funcionales<br> y sus incidencias asociadas</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
               <md-button  ng-click="verCasos()">Ir</md-button>
              </md-card-actions>
            </md-card>
          </div>
        
          <div layout = "column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Gestión de incidencias &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</span>
                  <br>
            <span align = "center" class="md-subhead">Gestione las incidencias encontradas en el <br>módulo bancario<br></span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
               <md-button  ng-click="verIncidencias()">Ir</md-button>
              </md-card-actions>
            </md-card>
          </div>                    
      </div>

      <div  flex layout = "row" layout-align = "center center">
          <div layout = "column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Canal de comunicación &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                  <br>
            <span align = "center" class="md-subhead">Comuniquese con su corrector <br>para resolver dudas</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
               <md-button  ng-click="verCanal()">Ir</md-button>
              </md-card-actions>
            </md-card>
          </div>

          <div layout = "column"  ng-if = "sesion.getPracticaT().estadoPidEstadoP.nombre == 'Desarrollo P1' && sesion.practicaT.corrector.estadoidEstado.nombreE == 'Abierta'">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Enviar a corrección&nbsp&nbsp&nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                  <br>
            <span align = "center" class="md-subhead">Envía tu trabajo al corrector para que <br>lo califique y entregue su retroalimentación</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
               <md-button  ng-click="enviarCoreccion()">Ir</md-button>
              </md-card-actions>
            </md-card>
          </div>
      </div>
	  </div>
    <div layout-xs="column" flex layout = "column" layout-align = "center center" ng-show = "sesion.practicaT.estadoPidEstadoP.nombre == 'Desarrollo P2' || sesion.practicaT.estadoPidEstadoP.nombre == 'Corregir P2' || sesion.practicaT.estadoPidEstadoP.nombre == 'Finalizada'">
      <div>
        <h3>Enunciado</h3>
      </div>

      <div align = "center">
        <p align="justify">El alumno debe reparar <strong>el código del módulo bancario</strong> simplificado para la práctica utilizando el lenguaje de programación Java en la plataforma Codenvy y utilizando como base el reporte de incidencias, las conversaciones con el corrector <strong>(Product Owner)</strong>, debe confeccionar <strong>pruebas unitarias automatizadas</strong> a los métodos y clases reparadas con JUnit. Además haciendo uso de la técnica <strong>Test Driven Development</strong> debe implementar las funcionalidades faltantes de módulo bancario las cuales son <strong>Retiro y Transferencia</strong>.</p> 
        <h4>Instrucciones</h4>
        <p align="justify">1. Dirigirse a la sección <strong>Gestión reparación módulo bancario</strong>. En esta se especifican las instrucciones necesarias para configurar el ambiente de desarrollo y su repositorio, con el propósito de acceder al código del software, efectuar las pruebas unitarias automatizadas y guardar sus avances.</p>
        <p align="justify">2. Configurar su ambiente de desarrollo, en la sección <strong>Instrucciones de configuración</strong>.</p>
        <p align="justify">3. Especificar su ambiente de trabajo y repositorio para facilitar el acceso al corrector, en la sección <strong>Ambiente de trabajo y repositorio</strong>.</p>
        <p align="justify">4. Ingresar en su ambiente de trabajo en la plataforma Codenvy e identiticar su funcionamiento.</p>
        <p align="justify">5. Inspeccionar los métodos de las clases y reparar las incidencias.</p> 
        <p align="justify">6. Comunicarse inmediatamente con el corrector cuando surgan dudas, en la sección <strong>Canal de comunicación</strong></p>
        <p align="justify">7. Una vez finalizada la actividad enviar a corrección, en la sección <strong>Enviar a corrección</strong></p><br>
        </div>
      <div flex layout = "row" layout-align = "center center">
        <div>
          <md-input-container>
          <label>Comunidad</label>
           <input type="text" name = "rol" ng-model="sesion.practicaT.comunidadidComunidad.nombreC" disabled>
          </md-input-container>
        </div>
        <div>
          <md-input-container>
          <label>Corrector</label>
           <input type="text" name = "rol" ng-model="nombreCorrector" disabled>
          </md-input-container>
        </div>
        <div>
          <md-input-container>
          <label>Rol</label>
           <input type="text" name = "rol" ng-model="sesion.practicaT.corrector.tipoUsuarioidTipoUsuario.nombreTU" disabled>
          </md-input-container>
        </div>
        <div>
          <md-input-container>
          <label>Email</label>
           <input type="text" name = "rol" ng-model="sesion.practicaT.corrector.emailU" disabled>
          </md-input-container>
        </div>
      </div>
        <br>

       <div layout = "row" layout-align = "center center">
        <div layout = "column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Gestión reparación módulo bancario &nbsp</span>
                  <br>
            <span align = "center" class="md-subhead">Visualize las instrucciones de configuración <br>de su ambiente de trabajo e indique las URLs de acceso <br>y repositorio de su práctica</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
               <md-button  ng-click="verReparacion()">Ir</md-button>
              </md-card-actions>
            </md-card>
        </div>
        <div layout = "column" ng-if = "sesion.practicaT.corrector.estadoidEstado.nombreE == 'Abierta'" >
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Pauta Práctica 1&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp&nbsp &nbsp&nbsp &nbsp &nbsp &nbsp</span>
                  <br>
            <span align = "center" class="md-subhead">Visualize la pauta de la práctica 1 del<br>módulo bancario <br><br></span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
               <md-button  ng-click="pauta()">Ir</md-button>
              </md-card-actions>
            </md-card>
        </div>
      </div>

      <div layout = "row" layout-align = "center center">
        <div layout = "column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Historias de usuario&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</span>
                  <br>
            <span align = "center" class="md-subhead">Visualize las historias de usuario y <br>pruebas de aceptación del <br>módulo bancario</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
               <md-button  ng-click="verHU()">Ir</md-button>
              </md-card-actions>
            </md-card>
        </div>
        <div layout = "column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Módulo bancario dañado&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</span>
                  <br>
            <span align = "center" class="md-subhead">Ingrese al módulo bancario dañado para <br>interactuar con sus funcionalidades<br> e identificar sus incidencias</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
               <md-button  ng-click="verTerminal()">Ir</md-button>
              </md-card-actions>
            </md-card>
        </div>
      </div>

      <div  flex layout = "row" layout-align = "center center">
 
          <div layout = "column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Gestión de pruebas funcionales &nbsp &nbsp </span>
                  <br>
            <span align = "center" class="md-subhead">Gestione las pruebas funcionales<br> y sus incidencias asociadas</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
               <md-button  ng-click="verCasos()">Ir</md-button>
              </md-card-actions>
            </md-card>
          </div>
        
          <div layout = "column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Gestión de incidencias &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</span>
                  <br>
            <span align = "center" class="md-subhead">Gestione las incidencias encontradas en el <br>módulo bancario<br></span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
               <md-button  ng-click="verIncidencias()">Ir</md-button>
              </md-card-actions>
            </md-card>
          </div>                    
      </div>

      <div  flex layout = "row" layout-align = "center center">
          <div layout = "column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Canal de comunicación &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                  <br>
            <span align = "center" class="md-subhead">Comuniquese con su corrector <br>para resolver dudas</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
               <md-button  ng-click="verCanal()">Ir</md-button>
              </md-card-actions>
            </md-card>
          </div>

          <div layout = "column"  ng-if = "sesion.getPracticaT().estadoPidEstadoP.nombre == 'Desarrollo P2' && sesion.practicaT.corrector.estadoidEstado.nombreE == 'Abierta'">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Enviar a corrección&nbsp&nbsp&nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                  <br>
            <span align = "center" class="md-subhead">Envía tu trabajo al corrector para que <br>lo califique y entregue su retroalimentación</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
               <md-button  ng-click="enviarCoreccion2()">Ir</md-button>
              </md-card-actions>
            </md-card>
          </div>
      </div>
    </div>    
</md-content>
