<md-content flex class="md-whiteframe-z3 md-padding">
	<div layout = "row">
	  <div>
	   <md-button id="main" class="md-icon-button"  aria-label="Show User List" ng-click = "back()">
	    <md-icon md-svg-icon="img/icon/ic_arrow_back_black_48px.svg" ></md-icon>
	   </md-button>
	  </div>
		<div flex>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#/home/alumno/verAsociadosC">Usuarios Comunidad</a></li>
        <li class="breadcrumb-item"><a href="#/home/alumno/terminal">Práctica terminal bancaria</a></li>
        <li class="breadcrumb-item"><a href="#/home/alumno/practicahome">Inicio Práctica</a></li>
        <li class="breadcrumb-item"><a href="#/home/alumno/practicahu">Historias de usuario</a></li>
        <li class="breadcrumb-item active">Pruebas de aceptación</li>
      </ol>
    </div>  
	</div>
  <div layout = "column" layout-align="center center">
          <br>
          <h3>Pruebas de aceptación</h3>
  </div>
  <!-- HU 1-->   
      <div layout-xs="column" flex layout = "column" layout-align = "center center">
        <h4>Historia de usuario</h4>
      </div>  
      <div flex layout = "row">
          <md-input-container flex>
            <label>Identificador</label>
            <input ng-model="sesion.hu.identificadorHU" disabled>
          </md-input-container>
      </div>
       <div flex layout = "row">
          <md-input-container flex>
            <label>Nombre</label>
            <input ng-model="sesion.hu.nombreHU" disabled>
          </md-input-container>
      </div>
        <md-input-container class="md-block">
          <label>Descripción</label>
          <textarea ng-model="sesion.hu.descripcionHU" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>

    <div ng-repeat="pa in pas">
      <div layout = "column" layout-align = "center center">
        <h4>Prueba de aceptación</h4>
      </div>
      <div flex layout = "row">
          <md-input-container flex>
            <label>Identificador</label>
            <input ng-model="pa.identificadorPA" disabled>
          </md-input-container>
      </div>
      <div flex layout = "row">
          <md-input-container flex>
            <label>Nombre</label>
            <input ng-model="pa.nombrePA" disabled>
          </md-input-container>
      </div>
       <md-input-container class="md-block">
          <label>Descripción</label>
          <textarea ng-model="pa.descripcionPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
         <md-input-container class="md-block">
          <label>Precondición</label>
          <textarea ng-model="pa.precondicionesPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Pasos</label>
          <textarea ng-model="pa.pasosPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Resultados Esperados</label>
          <textarea ng-model="pa.resultadosEPA" md-maxlength="500" rows="5" md-select-on-focus="" disabled></textarea>
        </md-input-container>
    </div>
</md-content>