<md-content flex class="md-whiteframe-z3 md-padding">
	<div layout = "row">
	  <div>
	   <md-button id="main" class="md-icon-button"  aria-label="Show User List" ng-click = "back()">
	    <md-icon md-svg-icon="img/icon/ic_arrow_back_black_48px.svg" ></md-icon>
	   </md-button>
	  </div>
		<div flex>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#/home/alumno/verAsociadosC">Usuarios Comunidad</a></li>
        <li class="breadcrumb-item"><a href="#/home/alumno/terminal">Práctica terminal bancaria</a></li>
        <li class="breadcrumb-item"><a href="#/home/alumno/practicainfo">Información Práctica</a></li>
        <li class="breadcrumb-item"><a href="#/home/alumno/practicahome">Inicio Práctica</a></li>
        <li class="breadcrumb-item active">Gestión Incidencias</li>
      </ol>
    </div>  
	</div>
<div ng-show = "sesion.practicaT.estadoPidEstadoP.nombre == 'Desarrollo P1' || sesion.practicaT.estadoPidEstadoP.nombre == 'Corregir P1' || sesion.practicaT.estadoPidEstadoP.nombre == 'Corregida P1'">
  	<div layout-xs="column" flex layout = "column" layout-align = "center center" >
  	    <div>
  		    <h3>Gestión de incidencias</h3>
  	    </div>
        <div flex layout = "column" layout-align = "center center" ng-show = "sesion.getPracticaT().estadoPidEstadoP.nombre == 'Corregida P1' && sesion.practicaT.corrector.estadoidEstado.nombreE == 'Abierta'">
            <md-button ng-click="toggleLeft()" class="md-raised">
              Pauta de evaluación
            </md-button>
        </div>  
        <div layout = "column" layout-align="center center" ng-show = "sesion.practicaT.estadoPidEstadoP.nombre == 'Desarrollo P1' && sesion.practicaT.corrector.estadoidEstado.nombreE == 'Abierta'"> 
          <form name="incidencias">
            <div layout = "column">
              <h4>Crear Incidencia</h4>
              <div>
                <md-input-container>
                <label>Caso de prueba</label>
                  <md-select ng-model="casoS">
                    <md-option ng-value = "caso" ng-repeat="caso in casos">
                      {{caso.identificadorCaso}} {{caso.nombre}}
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>
              <div>
                <md-input-container>
                <label>Nombre</label>
                  <textarea type="text" name = "nombre" ng-required = "true" ng-maxlength="45" rows="3" ng-model="nombre"></textarea>
                  <div ng-messages="incidencias.nombre.$error">
                    <div ng-message="required">Nombre requerido!</div>
                    <div ng-message="maxlength">Máximo 45 caracteres</div>
                  </div>
                </md-input-container>
              </div>
              <div>
                <md-input-container>
                <label>Descripción</label>
                  <textarea type="text" name = "descripcion" ng-required = "true" ng-maxlength="200" rows="3" ng-model="descripcion"></textarea>
                  <div ng-messages="incidencias.descripcion.$error">
                    <div ng-message="required">Descripción requerida!</div>
                    <div ng-message="maxlength">Máximo 200 caracteres</div>
                  </div>
                </md-input-container>
              </div>
              <div>
                <md-input-container>
                <label>Pasos</label>
                  <textarea type="text" name = "pasos" ng-required = "true" ng-maxlength="500" rows="3" ng-model="pasos"></textarea>
                  <div ng-messages="incidencias.pasos.$error">
                    <div ng-message="required">Pasos requeridos!</div>
                    <div ng-message="maxlength">Máximo 500 caracteres</div>
                  </div>
                </md-input-container>
              </div>
              <div>
                <md-input-container>
                <label>Resultados Esperados</label>
                  <textarea type="text" name = "re" ng-required = "true" ng-maxlength="200" rows="3" ng-model="rE"></textarea>
                  <div ng-messages="incidencias.re.$error">
                    <div ng-message="required">Resultados requeridos!</div>
                    <div ng-message="maxlength">Máximo 200 caracteres</div>
                  </div>
                </md-input-container>
              </div>
              <div>
                <md-input-container>
                <label>Resultados Obtenidos</label>
                  <textarea type="text" name = "ro" ng-required = "true" ng-maxlength="200" rows="3" ng-model="rO"></textarea>
                  <div ng-messages="incidencias.ro.$error">
                    <div ng-message="required">Resultados requeridos!</div>
                    <div ng-message="maxlength">Máximo 200 caracteres</div>
                  </div>
                </md-input-container>
              </div>
              <br>
              <div layout = "column" layout-align="center center">
                <md-button class="md-raised md-primary" ng-disabled = "incidencias.nombre.$invalid || incidencias.descripcion.$invalid || incidencias.pasos.$invalid || incidencias.re.$invalid || incidencias.ro.$invalid || casoS.nombre == undefined" ng-click = "crearI()">Crear</md-button>
              </div>
            </div>
          </form>
        </div>
    </div>

    <div layout = "column" layout-align="center center">
              <br>
              <h3>Incidencias encontradas</h3>
    </div>

    <div layout = "column" layout-align="center center">
      <div  layout="row" layout-align="center center">
                        <div>
                          <md-icon md-svg-icon="img/icon/ic_search_black_48px.svg"></md-icon>
                        </div>
                         <div>
                            <md-input-container md-no-float md-is-error="false" class="md-block flex-gt-xs flex-xs">
                              <label>Búsqueda</label>
                                <input ng-model="nombreI"
                                       class="md-input"
                                       ng-change="gridActions1.filter()"
                                       id="order"
                                       filter-by="nombreI"
                                       filter-type="text"
                                       aria-invalid="false"
                                       placeholder = "Búsqueda por nombre">
                            </md-input-container>
                        </div>
      </div>
    </div>

    <div  layout="row" layout-align="center">
        <div flex-gt-md="60" flex-md="80" flex-xs="100">
                  <div grid-data id='test' grid-options="gridOptions" grid-actions="gridActions1">
                      <div layout-gt-sm="row" layout-sm="column" layout-align="center">
                          <div flex-gt-sm="25" flex-sm="100" layout="row" layout-align="start center">
                              <span>{{filtered.length}} Total de incidencias</span>
                          </div>
                          <div flex-gt-sm="75" flex-xs="100">
                              <div layout-xs="column" layout="row" layout-align-xs="end end" layout-align="end center">
                                  <grid-pagination max-size="20"
                                                   boundary-links="true"
                                                   class="pagination mdl-shadow--2dp"
                                                   
                                                   total-items="paginationOptions.totalItems"
                                                   ng-model="paginationOptions.currentPage"
                                                   ng-change="reloadGrid()"
                                                   items-per-page="paginationOptions.itemsPerPage">
                                  </grid-pagination>
                                  <md-input-container flex-offset-gt-xs="5" class="items-per-page">
                                      <md-select  ng-init="paginationOptions.itemsPerPage = '5'" ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()"  aria-label="More">
                                          <md-option>5</md-option>
                                          <md-option>10</md-option>
                                          <md-option>25</md-option>
                                      </md-select>
                                  </md-input-container>
                              </div>
                          </div>
                      </div>
                      <div>
                          <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                              <thead>

                               <tr>
                                  <th class="sortable">
                                      <span>Identificador</span>
                                  </th>
                                  <th class="sortable">
                                      <span>Nombre</span>
                                  </th>
                                  <th class="sortable">
                                      <span>Fecha creación</span>
                                  </th>
                                  <th class="sortable">
                                      <span>Estado</span>
                                  </th>
                              </tr>


                              </thead>
                              <tbody>
                              <tr grid-item ng-click = "sendIInfo(item)">
                                    <td ng-bind="item.identificadorI"></td>
                                    <td ng-bind="item.nombreI"></td>
                                    <td ng-bind="item.fechaCI"></td>
                                    <td ng-bind="item.estadoIidEstadoI.nombre"></td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                      <div layout-xs="column" layout="row" layout-align-xs="end end" layout-align="end center">
                          <grid-pagination max-size="20"
                                           boundary-links="true"
                                           class="pagination"
                                           ng-if="paginationOptions.totalItems  > paginationOptions.itemsPerPage"
                                           total-items="paginationOptions.totalItems"
                                           ng-model="paginationOptions.currentPage"
                                           ng-change="reloadGrid()"
                                           items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                          <md-input-container flex-offset-gt-xs="5" class="items-per-page">
                              <md-select ng-init="paginationOptions.itemsPerPage = '5'" ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()"  aria-label="More">
                                  <md-option>5</md-option>
                                  <md-option>10</md-option>
                                  <md-option>25</md-option>
                              </md-select>
                          </md-input-container>
                      </div>
                  </div>
        </div>
    </div>

    <div layout = "column" layout-align="center center">
              <br>
              <h3>Incidencias casos de prueba</h3>
    </div>

    <div layout = "column" layout-align="center center">
                    <div  layout="row" layout-align="center center">
                        <div>
                          <md-icon md-svg-icon="img/icon/ic_search_black_48px.svg"></md-icon>
                        </div>
                        <div>
                            <md-input-container md-no-float md-is-error="false" class="md-block flex-gt-xs flex-xs">
                              <label>Búsqueda</label>
                              <input ng-model="nombreICP"
                                       class="md-input"
                                       ng-change="gridActions.filter()"
                                       id="order"
                                       filter-by="nombreICP"
                                       filter-type="text"
                                       aria-invalid="false"
                                       placeholder = "Búsqueda por nombre">
                            </md-input-container>
                        </div>
                    </div>
    </div>

    <div  layout="row" layout-align="center">
              <div flex-gt-md="60" flex-md="80" flex-xs="100">
                  <div grid-data id='test' grid-options="gridOptions1" grid-actions="gridActions">
                      <div layout-gt-sm="row" layout-sm="column" layout-align="center">
                          <div flex-gt-sm="25" flex-sm="100" layout="row" layout-align="start center">
                              <span>{{filtered.length}} Total de incidencias</span>
                          </div>
                          <div flex-gt-sm="75" flex-xs="100">
                              <div layout-xs="column" layout="row" layout-align-xs="end end" layout-align="end center">
                                  <grid-pagination max-size="20"
                                                   boundary-links="true"
                                                   class="pagination mdl-shadow--2dp"
                                                   
                                                   total-items="paginationOptions.totalItems"
                                                   ng-model="paginationOptions.currentPage"
                                                   ng-change="reloadGrid()"
                                                   items-per-page="paginationOptions.itemsPerPage">
                                  </grid-pagination>
                                  <md-input-container flex-offset-gt-xs="5" class="items-per-page">
                                      <md-select  ng-init="paginationOptions.itemsPerPage = '5'" ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()"  aria-label="More">
                                          <md-option>5</md-option>
                                          <md-option>10</md-option>
                                          <md-option>25</md-option>
                                      </md-select>
                                  </md-input-container>
                              </div>
                          </div>
                      </div>
                      <div>
                          <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                              <thead>

                               <tr>
                                  <th class="sortable">
                                      <span>Identificador</span>
                                  </th>
                                  <th class="sortable">
                                      <span>Caso de prueba</span>
                                  </th>
                                  <th class="sortable">
                                      <span>Nombre</span>
                                  </th>
                                  <th class="sortable">
                                      <span>Fecha creación</span>
                                  </th>
                                  <th class="sortable">
                                      <span>Estado</span>
                                  </th>
                              </tr>


                              </thead>
                              <tbody>
                              <tr grid-item ng-click = "sendICPInfo(item)">
                                    <td ng-bind="item.identificadorICP"></td>
                                    <td ng-bind="item.casoPruebaidCp.identificadorCaso"></td>
                                    <td ng-bind="item.nombreICP"></td>
                                    <td ng-bind="item.fechaCICP"></td>
                                    <td ng-bind="item.estadoIidEstadoI.nombre"></td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                      <div layout-xs="column" layout="row" layout-align-xs="end end" layout-align="end center">
                          <grid-pagination max-size="20"
                                           boundary-links="true"
                                           class="pagination"
                                           ng-if="paginationOptions.totalItems  > paginationOptions.itemsPerPage"
                                           total-items="paginationOptions.totalItems"
                                           ng-model="paginationOptions.currentPage"
                                           ng-change="reloadGrid()"
                                           items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                          <md-input-container flex-offset-gt-xs="5" class="items-per-page">
                              <md-select ng-init="paginationOptions.itemsPerPage = '5'" ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()"  aria-label="More">
                                  <md-option>5</md-option>
                                  <md-option>10</md-option>
                                  <md-option>25</md-option>
                              </md-select>
                          </md-input-container>
                      </div>
                  </div>
              </div>
    </div>
</div>

<div  ng-show = "sesion.practicaT.estadoPidEstadoP.nombre == 'Desarrollo P2' || sesion.practicaT.estadoPidEstadoP.nombre == 'Corregir P2' || sesion.practicaT.estadoPidEstadoP.nombre == 'Finalizada'">
    <div layout-xs="column" flex layout = "column" layout-align = "center center" >
        <div>
          <h3>Gestión de incidencias</h3>
        </div>
        <div flex layout = "column" layout-align = "center center" ng-show = "(sesion.practicaT.estadoPidEstadoP.nombre == 'Corregida P1' || sesion.practicaT.estadoPidEstadoP.nombre == 'Finalizada') && sesion.practicaT.corrector.estadoidEstado.nombreE == 'Abierta'">
            <md-button ng-click="toggleLeft()" class="md-raised">
              Pauta de evaluación
            </md-button>
        </div>  
        <div layout = "column" layout-align="center center" ng-show = "sesion.practicaT.estadoPidEstadoP.nombre == 'Desarrollo P2' && sesion.practicaT.corrector.estadoidEstado.nombreE == 'Abierta'"> 
          <form name="incidencias">
            <div layout = "column">
              <h4>Crear Incidencia</h4>
              <div>
                <md-input-container>
                <label>Caso de prueba</label>
                  <md-select ng-model="casoS">
                    <md-option ng-value = "caso" ng-repeat="caso in casos">
                      {{caso.identificadorCaso}} {{caso.nombre}}
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>
              <div>
                <md-input-container>
                <label>Nombre</label>
                  <textarea type="text" name = "nombre" ng-required = "true" ng-maxlength="45" rows="3" ng-model="nombre"></textarea>
                  <div ng-messages="incidencias.nombre.$error">
                    <div ng-message="required">Nombre requerido!</div>
                    <div ng-message="maxlength">Máximo 45 caracteres</div>
                  </div>
                </md-input-container>
              </div>
              <div>
                <md-input-container>
                <label>Descripción</label>
                  <textarea type="text" name = "descripcion" ng-required = "true" ng-maxlength="200" rows="3" ng-model="descripcion"></textarea>
                  <div ng-messages="incidencias.descripcion.$error">
                    <div ng-message="required">Descripción requerida!</div>
                    <div ng-message="maxlength">Máximo 200 caracteres</div>
                  </div>
                </md-input-container>
              </div>
              <div>
                <md-input-container>
                <label>Pasos</label>
                  <textarea type="text" name = "pasos" ng-required = "true" ng-maxlength="500" rows="3" ng-model="pasos"></textarea>
                  <div ng-messages="incidencias.pasos.$error">
                    <div ng-message="required">Pasos requeridos!</div>
                    <div ng-message="maxlength">Máximo 500 caracteres</div>
                  </div>
                </md-input-container>
              </div>
              <div>
                <md-input-container>
                <label>Resultados Esperados</label>
                  <textarea type="text" name = "re" ng-required = "true" ng-maxlength="200" rows="3" ng-model="rE"></textarea>
                  <div ng-messages="incidencias.re.$error">
                    <div ng-message="required">Resultados requeridos!</div>
                    <div ng-message="maxlength">Máximo 200 caracteres</div>
                  </div>
                </md-input-container>
              </div>
              <div>
                <md-input-container>
                <label>Resultados Obtenidos</label>
                  <textarea type="text" name = "ro" ng-required = "true" ng-maxlength="200" rows="3" ng-model="rO"></textarea>
                  <div ng-messages="incidencias.ro.$error">
                    <div ng-message="required">Resultados requeridos!</div>
                    <div ng-message="maxlength">Máximo 200 caracteres</div>
                  </div>
                </md-input-container>
              </div>
              <br>
              <div layout = "column" layout-align="center center">
                <md-button class="md-raised md-primary" ng-disabled = "incidencias.nombre.$invalid || incidencias.descripcion.$invalid || incidencias.pasos.$invalid || incidencias.re.$invalid || incidencias.ro.$invalid || casoS.nombre == undefined" ng-click = "crearI()">Crear</md-button>
              </div>
            </div>
          </form>
        </div>
    </div>

    <div layout = "column" layout-align="center center">
              <br>
              <h3>Incidencias encontradas</h3>
    </div>

    <div layout = "column" layout-align="center center">
      <div  layout="row" layout-align="center center">
                        <div>
                          <md-icon md-svg-icon="img/icon/ic_search_black_48px.svg"></md-icon>
                        </div>
                         <div>
                            <md-input-container md-no-float md-is-error="false" class="md-block flex-gt-xs flex-xs">
                              <label>Búsqueda</label>
                                <input ng-model="nombreI"
                                       class="md-input"
                                       ng-change="gridActions2.filter()"
                                       id="order"
                                       filter-by="nombreI"
                                       filter-type="text"
                                       aria-invalid="false"
                                       placeholder = "Búsqueda por nombre">
                            </md-input-container>
                        </div>
      </div>
    </div>

    <div  layout="row" layout-align="center">
        <div flex-gt-md="60" flex-md="80" flex-xs="100">
                  <div grid-data id='test' grid-options="gridOptions2" grid-actions="gridActions2">
                      <div layout-gt-sm="row" layout-sm="column" layout-align="center">
                          <div flex-gt-sm="25" flex-sm="100" layout="row" layout-align="start center">
                              <span>{{filtered.length}} Total de incidencias</span>
                          </div>
                          <div flex-gt-sm="75" flex-xs="100">
                              <div layout-xs="column" layout="row" layout-align-xs="end end" layout-align="end center">
                                  <grid-pagination max-size="20"
                                                   boundary-links="true"
                                                   class="pagination mdl-shadow--2dp"
                                                   
                                                   total-items="paginationOptions.totalItems"
                                                   ng-model="paginationOptions.currentPage"
                                                   ng-change="reloadGrid()"
                                                   items-per-page="paginationOptions.itemsPerPage">
                                  </grid-pagination>
                                  <md-input-container flex-offset-gt-xs="5" class="items-per-page">
                                      <md-select  ng-init="paginationOptions.itemsPerPage = '5'" ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()"  aria-label="More">
                                          <md-option>5</md-option>
                                          <md-option>10</md-option>
                                          <md-option>25</md-option>
                                      </md-select>
                                  </md-input-container>
                              </div>
                          </div>
                      </div>
                      <div>
                          <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                              <thead>

                               <tr>
                                  <th class="sortable">
                                      <span>Identificador</span>
                                  </th>
                                  <th class="sortable">
                                      <span>Nombre</span>
                                  </th>
                                  <th class="sortable">
                                      <span>Fecha creación</span>
                                  </th>
                                  <th class="sortable">
                                      <span>Estado</span>
                                  </th>
                              </tr>


                              </thead>
                              <tbody>
                              <tr grid-item ng-click = "sendIInfo(item)">
                                    <td ng-bind="item.identificadorI"></td>
                                    <td ng-bind="item.nombreI"></td>
                                    <td ng-bind="item.fechaCI"></td>
                                    <td ng-bind="item.estadoIidEstadoI.nombre"></td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                      <div layout-xs="column" layout="row" layout-align-xs="end end" layout-align="end center">
                          <grid-pagination max-size="20"
                                           boundary-links="true"
                                           class="pagination"
                                           ng-if="paginationOptions.totalItems  > paginationOptions.itemsPerPage"
                                           total-items="paginationOptions.totalItems"
                                           ng-model="paginationOptions.currentPage"
                                           ng-change="reloadGrid()"
                                           items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                          <md-input-container flex-offset-gt-xs="5" class="items-per-page">
                              <md-select ng-init="paginationOptions.itemsPerPage = '5'" ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()"  aria-label="More">
                                  <md-option>5</md-option>
                                  <md-option>10</md-option>
                                  <md-option>25</md-option>
                              </md-select>
                          </md-input-container>
                      </div>
                  </div>
        </div>
    </div>
    <div layout = "column" layout-align="center center">
              <br>
              <h3>Incidencias casos de prueba</h3>
    </div>

    <div layout = "column" layout-align="center center">
                    <div  layout="row" layout-align="center center">
                        <div>
                          <md-icon md-svg-icon="img/icon/ic_search_black_48px.svg"></md-icon>
                        </div>
                        <div>
                            <md-input-container md-no-float md-is-error="false" class="md-block flex-gt-xs flex-xs">
                              <label>Búsqueda</label>
                              <input ng-model="nombreICP"
                                       class="md-input"
                                       ng-change="gridActions3.filter()"
                                       id="order"
                                       filter-by="nombreICP"
                                       filter-type="text"
                                       aria-invalid="false"
                                       placeholder = "Búsqueda por nombre">
                            </md-input-container>
                        </div>
                    </div>
    </div>

    <div  layout="row" layout-align="center">
              <div flex-gt-md="60" flex-md="80" flex-xs="100">
                  <div grid-data id='test' grid-options="gridOptions3" grid-actions="gridActions3">
                      <div layout-gt-sm="row" layout-sm="column" layout-align="center">
                          <div flex-gt-sm="25" flex-sm="100" layout="row" layout-align="start center">
                              <span>{{filtered.length}} Total de incidencias</span>
                          </div>
                          <div flex-gt-sm="75" flex-xs="100">
                              <div layout-xs="column" layout="row" layout-align-xs="end end" layout-align="end center">
                                  <grid-pagination max-size="20"
                                                   boundary-links="true"
                                                   class="pagination mdl-shadow--2dp"
                                                   
                                                   total-items="paginationOptions.totalItems"
                                                   ng-model="paginationOptions.currentPage"
                                                   ng-change="reloadGrid()"
                                                   items-per-page="paginationOptions.itemsPerPage">
                                  </grid-pagination>
                                  <md-input-container flex-offset-gt-xs="5" class="items-per-page">
                                      <md-select  ng-init="paginationOptions.itemsPerPage = '5'" ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()"  aria-label="More">
                                          <md-option>5</md-option>
                                          <md-option>10</md-option>
                                          <md-option>25</md-option>
                                      </md-select>
                                  </md-input-container>
                              </div>
                          </div>
                      </div>
                      <div>
                          <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                              <thead>

                               <tr>
                                  <th class="sortable">
                                      <span>Identificador</span>
                                  </th>
                                  <th class="sortable">
                                      <span>Caso de prueba</span>
                                  </th>
                                  <th class="sortable">
                                      <span>Nombre</span>
                                  </th>
                                  <th class="sortable">
                                      <span>Fecha creación</span>
                                  </th>
                                  <th class="sortable">
                                      <span>Estado</span>
                                  </th>
                              </tr>


                              </thead>
                              <tbody>
                              <tr grid-item ng-click = "sendICPInfo(item)">
                                    <td ng-bind="item.identificadorICP"></td>
                                    <td ng-bind="item.casoPruebaidCp.identificadorCaso"></td>
                                    <td ng-bind="item.nombreICP"></td>
                                    <td ng-bind="item.fechaCICP"></td>
                                    <td ng-bind="item.estadoIidEstadoI.nombre"></td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                      <div layout-xs="column" layout="row" layout-align-xs="end end" layout-align="end center">
                          <grid-pagination max-size="20"
                                           boundary-links="true"
                                           class="pagination"
                                           ng-if="paginationOptions.totalItems  > paginationOptions.itemsPerPage"
                                           total-items="paginationOptions.totalItems"
                                           ng-model="paginationOptions.currentPage"
                                           ng-change="reloadGrid()"
                                           items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                          <md-input-container flex-offset-gt-xs="5" class="items-per-page">
                              <md-select ng-init="paginationOptions.itemsPerPage = '5'" ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()"  aria-label="More">
                                  <md-option>5</md-option>
                                  <md-option>10</md-option>
                                  <md-option>25</md-option>
                              </md-select>
                          </md-input-container>
                      </div>
                  </div>
              </div>
    </div>
</div>

</md-content>
