<md-content flex class="md-whiteframe-z3">
      <div layout = "row">
        <div ng-if = "sesion.getUser().tipoUsuarioidTipoUsuario.nombreTU == 'Alumno'">
         <md-button id="main" class="md-icon-button"  aria-label="Show User List" ng-click = "back()">
          <md-icon md-svg-icon="img/icon/ic_arrow_back_black_48px.svg" ></md-icon>
         </md-button>
        </div>
        <div ng-if = "sesion.getUser().tipoUsuarioidTipoUsuario.nombreTU == 'Ayudante'">
         <md-button id="main" class="md-icon-button"  aria-label="Show User List" ng-click = "back1()">
          <md-icon md-svg-icon="img/icon/ic_arrow_back_black_48px.svg" ></md-icon>
         </md-button>
        </div>
        <div ng-if = "sesion.getUser().tipoUsuarioidTipoUsuario.nombreTU == 'Profesor'">
         <md-button id="main" class="md-icon-button"  aria-label="Show User List" ng-click = "back2()">
          <md-icon md-svg-icon="img/icon/ic_arrow_back_black_48px.svg" ></md-icon>
         </md-button>
        </div>
        <div flex>
          <ol class="breadcrumb">
            <li class="breadcrumb-item active">Práctica</li>
          </ol>
        </div>  
      </div>
      <div>
        <!-- Formulario -->
        <form name="login">
          <!-- inputs -->
          <div layout = "column" layout-align = "center center">
              <!-- Título -->
              <div flex layout = "row">
                <br>
                <h3>Inicio de seción</<h3>
                <br>
              </div>
              <!-- Título -->
              <br>
              <!-- Rut -->
              <div>
                <md-input-container>
                  <label>Rut</label>
                  <input type="text" name = "rut"  ng-model="rut">
                </md-input-container>
              </div>
              <!-- Rut -->
              <!-- Pass  -->
              <div>
                <md-input-container class="md-block" >
                  <label>Contraseña</label>
                  <input type="text" name = "pass" ng-model="pass">
                </md-input-container>
              </div>
              <!-- Pass  -->
          </div>
          <!-- inputs-->
          <br>
          <!-- Botones -->
          <div layout = "column" layout-align="center center">
            <md-button class="md-raised md-primary" ng-click="loginD()">Ingresar</md-button>
          </div>
          <!-- Botones -->
        </form>
        <!-- Formulario -->
      </div>
</md-content>
