<div layout = "row" flex>
      <div flex layout = "column" layout-fill>
        <!-- ToolBar-->
        <div>
          <md-toolbar class="md-whiteframe-z1">
            <div ng-controller = "tbCtrl" >
               <!-- Toolbar usuario -->
               <div class="md-toolbar-tools" ng-if = "auth.isLogged() == true">
                  <div ng-if = "auth.isActive() == true"><a href = "#/moduloP/home"><span>Terminal Bancaria</span></a></div>
                  <div ng-if = "auth.isActive() == false"><a href = "#/moduloP/activar"><span>Terminal Bancaria</span></a></div>
                  <span flex ></span>
                  <div ng-if = "auth.isActive() == true">
                    <div ng-click="settingsM()">
                         <md-icon md-svg-icon="img/icon/ic_settings_white_48px.svg"></md-icon>
                    </div>
                  </div>
                  <div><span flex >&nbsp&nbsp</span></div> 
                  <div ng-click="closeM()">
                       <md-icon md-svg-icon="img/icon/ic_exit_to_app_white_48px.svg"></md-icon>
                  </div> 
               </div>
               <!-- Toolbar Inicio -->
               <div class="md-toolbar-tools" ng-if = "auth.isLogged() == false">
                    <span>Terminal Bancaria</span>
                    <span flex></span>
               </div>
            </div>
          </md-toolbar>
        </div>
        <!-- Contenido -->
        <div flex layout = "column" layout-padding md-scroll-y ui-view>
        </div>
      </div>    
  </div>
