<md-content flex class="md-whiteframe-z3">
<div layout = "row">
  <div>
   <md-button id="main" class="md-icon-button"  aria-label="Show User List" ng-click = "back()">
    <md-icon md-svg-icon="img/icon/ic_arrow_back_black_48px.svg" ></md-icon>
   </md-button>
  </div>
  <div>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#/moduloP/home">Inicio</a></li>
      <li class="breadcrumb-item active">Depósito</li>
    </ol>
  </div>
</div>
      <div>
        <!-- Formulario -->
        <form name="deposito">
          <!-- inputs -->
          <div layout = "column" layout-align = "center center">
              <!-- Título -->
              <div flex layout = "row">
                <br>
                <h3>Depósito</<h3>
                <br>
              </div>
              <!-- Título -->
              <br>
              <!-- Rut -->
              <div>
                <md-input-container>
                  <label>Saldo actual</label>
                    <input type="number" name = "saldo" ng-model="sesion.getUserTerminal().saldoC" disabled>
                  </md-input-container>
              </div>
              <div>
                <md-input-container>
                  <label>Monto a depositar</label>
                  <input type="number" name = "monto" ng-required = "true" ng-model="montoD">
                  <div ng-messages="deposito.monto.$error">
                    <div ng-message="required">Monto requerido!</div>
                  </div>      
                </md-input-container>
              </div>
          </div>
          <!-- inputs-->
          <br>
          <!-- Botones -->
          <div layout = "column" layout-align="center center">
            <md-button class="md-raised md-primary" ng-disabled = "deposito.monto.$invalid" ng-click="depositar()">Depositar</md-button>
          </div>
          <!-- Botones -->
        </form>
        <!-- Formulario -->
      </div>
</md-content>
