<md-content class="md-whiteframe-z3" flex id="content">
 <div layout = "row">
  <div>
   <md-button id="main" class="md-icon-button"  aria-label="Show User List" ng-click = "back()">
    <md-icon md-svg-icon="img/icon/ic_arrow_back_black_48px.svg" ></md-icon>
   </md-button>
  </div>
  <div>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#/home/profesor">Inicio</a></li>
      <li class="breadcrumb-item"><a href="#/home/profesor/comunidades">Gestión de Comunidades</a></li>
       <li class="breadcrumb-item"><a href="#/home/profesor/verAsociadosC">Usuarios Comunidad</a></li>
      <li class="breadcrumb-item active">Prácticas Alumno</li>
    </ol>
  </div>
</div>
                      <div layout = "column" layout-align="center center">
                        <h3>Usuario Comunidad</h3>
                      </div>
  <div layout = "row" layout-align="center center">
                      <div flex-offset = "10" layout = "column">
                      <br>
                     
                        <br>
                        <br>
                          <div>
                            <md-input-container>
                              <label>Comunidad</label>
                              <input type="text" name = "comunidad" ng-model="sesion.getComunidad().nombreC" disabled>
                            </md-input-container>
                          </div>
                          <div>
                            <md-input-container>
                              <label>E-mail</label>
                              <input type="email" name = "email" ng-model="usuario.emailU" disabled>
                            </md-input-container>
                          </div>
                          <div>
                            <md-input-container>
                              <label>Rut</label>
                              <input type="text" name = "rut" ng-model="usuario.rutU" disabled>
                            </md-input-container>
                          </div>
                          <div>
                            <md-input-container>
                              <label>Nombre</label>
                              <input type="text" name = "nombre" ng-model="usuario.nombreU" disabled>
                            </md-input-container>
                          </div>
                          <div>
                            <md-input-container>
                              <label>Apellido</label>
                              <input type="text" name = "apellido" ng-model="usuario.apellidoU" disabled>
                            </md-input-container>
                          </div>
                           <div>
                            <md-input-container>
                              <label>Apodo</label>
                              <input type="text" name = "apodo" ng-model="usuario.apodoU" disabled>
                            </md-input-container>
                          </div>
                          <div>
                            <md-input-container>
                              <label>Estado</label>
                              <input type="text" name = "apodo" ng-model="usuario.estadoidEstado.nombreE" disabled>
                            </md-input-container>
                          </div>
                      </div>
                      <div>
                        &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp
                      </div>
                      <div>
                        <div layout = "column">
                        <br>
                          <img ng-src="{{usuario.fotoPerfilU}}" class="img-thumbnail" alt="Cinque Terre" width="300" height="300"> 
                        </div>
                      </div>
  </div>
<br>
        <div  layout = "column" layout-align = "center center" ng-show = "pruebaTeorica.idPT != undefined">
            <h4>Resultado última prueba teórica</h4>
        </div>
  <div layout-xs="column" flex layout = "row" layout-align = "center center" ng-show = "pruebaTeorica.idPT != undefined">
      <div layout = "column">
        
        <div>
          <md-input-container>
            <label>Nota mínima</label>
            <input type="text" name = "apodo" ng-model="sesion.comunidad.notaMinima" disabled>
          </md-input-container>
        </div>
        <div>
          <md-input-container>
            <label>Última Nota</label>
            <input type="text" name = "apodo" ng-model="pruebaTeorica.nota" disabled>
          </md-input-container>
        </div>
        <div>
          <md-input-container>
            <label>Fecha Realización</label>
            <input type="text" name = "apodo" ng-model="pruebaTeorica.fechaRealizado" disabled>
          </md-input-container>
        </div>
      </div>
      <div layout = "column" ng-hide = "areasReforzar[0] == undefined">
        <div>
          <h6>Áreas a reforzar</h6>
        </div>
        <div>
          <div layout = "column" ng-repeat="areas in areasReforzar">
                          <div layout = "column">
                              <md-input-container >
                              <label>Área</label>
                                <input type="text" ng-model="areas.nombreArea" disabled>
                              <md-input-container>
                          </div>
          </div>
        </div>
      </div>
  </div>


   <div>
    <div layout = "column" layout-align="center center">
          <br>
          <h3>Prácticas realizadas</h3>
    </div>

            <div layout = "column" layout-align="center center">
                <div  layout="row" layout-align="center center">
                    <div>
                      <md-icon md-svg-icon="img/icon/ic_search_black_48px.svg"></md-icon>
                    </div>
                     <div>
                        <md-input-container md-no-float md-is-error="false" class="md-block flex-gt-xs flex-xs">
                          <label>Búsqueda</label>
                            <input ng-model="identificadorPractica"
                                   class="md-input"
                                   ng-change="gridActions.filter()"
                                   id="order"
                                   filter-by="identificadorPractica"
                                   filter-type="text"
                                   aria-invalid="false"
                                   placeholder = "Búsqueda por identificador">
                        </md-input-container>
                    </div>
                  </div>
                </div>

        <div  layout="row" layout-align="center">
          <div flex-gt-md="60" flex-md="80" flex-xs="100">
              <div grid-data id='test' grid-options="gridOptions" grid-actions="gridActions">
                  <div layout-gt-sm="row" layout-sm="column" layout-align="center">
                      <div flex-gt-sm="25" flex-sm="100" layout="row" layout-align="start center">
                          <span>{{filtered.length}} Total de prácticas</span>
                      </div>


                      <div flex-gt-sm="75" flex-xs="100">
                          <div layout-xs="column" layout="row" layout-align-xs="end end" layout-align="end center">
                              <grid-pagination max-size="20"
                                               boundary-links="true"
                                               class="pagination mdl-shadow--2dp"
                                               
                                               total-items="paginationOptions.totalItems"
                                               ng-model="paginationOptions.currentPage"
                                               ng-change="reloadGrid()"
                                               items-per-page="paginationOptions.itemsPerPage">
                              </grid-pagination>
                              <md-input-container flex-offset-gt-xs="5" class="items-per-page">
                                  <md-select  ng-init="paginationOptions.itemsPerPage = '5'" ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()"  aria-label="More">
                                      <md-option>5</md-option>
                                      <md-option>10</md-option>
                                      <md-option>25</md-option>
                                  </md-select>
                              </md-input-container>
                          </div>
                      </div>

                  </div>

                  <div layout="column" layout-align="center center">
                      <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                          <thead>

                           <tr>
                              <th sortable="identificadorPractica" class="sortable">
                                  <span>Identificador</span>
                              </th>
                              <th sortable="realizador.nombreU" class="sortable">
                                  <span>Nombre realizador</span>
                              </th>
                              <th sortable="realizador.estadoidEstado.nombreE" class="sortable">
                                  <span>Estado realizador</span>
                              </th>
                              <th sortable="fechaInicio" class="sortable">
                                  <span>Fecha inicio</span>
                              </th>
                              <th sortable="fechaTermino" class="sortable">
                                  <span>Fecha termino</span>
                              </th>
                              <th sortable="estadoPidEstadoP.nombre" class="sortable">
                                  <span>Estado</span>
                              </th>
                          </tr>


                          </thead>
                          <tbody>
                          <tr grid-item ng-click = "verInfo(item)">
                                <td ng-bind="item.identificadorPractica"></td>
                                <td ng-bind="item.realizador.nombreU"></td>
                                <td ng-bind="item.realizador.estadoidEstado.nombreE"></td>
                                <td ng-bind="item.fechaInicio"></td>
                                <td ng-bind="item.fechaTermino"></td>
                                <td ng-bind="item.estadoPidEstadoP.nombre"></td>
                          </tr>
                          </tbody>
                      </table>
                  </div>

                  <div layout-xs="column" layout="row" layout-align-xs="end end" layout-align="end center">
                      <grid-pagination max-size="20"
                                       boundary-links="true"
                                       class="pagination"
                                       ng-if="paginationOptions.totalItems  > paginationOptions.itemsPerPage"
                                       total-items="paginationOptions.totalItems"
                                       ng-model="paginationOptions.currentPage"
                                       ng-change="reloadGrid()"
                                       items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                      <md-input-container flex-offset-gt-xs="5" class="items-per-page">
                          <md-select ng-init="paginationOptions.itemsPerPage = '5'" ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()"  aria-label="More">
                              <md-option>5</md-option>
                              <md-option>10</md-option>
                              <md-option>25</md-option>
                          </md-select>
                      </md-input-container>
                  </div>

              </div>
          </div>
        </div>
        </div>   
</md-content>