<md-content flex class="md-whiteframe-z3 md-padding">
 <div layout = "row">
  <div>
   <md-button id="main" class="md-icon-button"  aria-label="Show User List" ng-click = "back()">
    <md-icon md-svg-icon="img/icon/ic_arrow_back_black_48px.svg" ></md-icon>
   </md-button>
  </div>
  <div>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#/home/ayudante/verAsignados">Prácticas Alumno</a></li>
      <li class="breadcrumb-item active">Práctica Alumno</li>
    </ol>
  </div>
</div>
	<div layout-xs="column" flex layout = "column" layout-align = "center center" ng-show = "sesion.practicaT.estadoPidEstadoP.nombre == 'Desarrollo P1' || sesion.practicaT.estadoPidEstadoP.nombre == 'Corregir P1' || sesion.practicaT.estadoPidEstadoP.nombre == 'Corregida P1'">
	    <div>
		    <h3>Información Práctica</h3>
	    </div>
      <div>
        <div>
          <md-input-container>
          <label>Comunidad</label>
            <input type="text" name = "comunidad" ng-model="sesion.practicaT.comunidadidComunidad.nombreC" disabled>
          </md-input-container>
        </div>
        <div>
          <md-input-container>
          <label>Alumno</label>
            <input type="text" ng-model="realizadorCompleto" disabled>
          </md-input-container>
        </div>
        <div>
          <md-input-container>
          <label>Email</label>
            <input type="text" name = "email" ng-model="realizador.emailU" disabled>
          </md-input-container>
        </div>
        <div>
          <md-input-container>
          <label>Fecha inicio</label>
            <input type="text" name = "fechai" ng-model="practica.fechaInicio" disabled>
          </md-input-container>
        </div>
        <div ng-show = "sesion.practicaT.estadoPidEstadoP.nombre == 'Corregida P1'">
          <md-input-container>
          <label>Fecha Termino</label>
            <input type="text" name = "fechat" ng-model="sesion.practicaT1.fechaTermino" disabled>
          </md-input-container>
        </div>
        <div>
          <md-input-container>
          <label>Estado</label>
            <input type="text" name = "estadoE" ng-model="practica.estadoPidEstadoP.nombre" disabled>
          </md-input-container>
        </div>
        <div ng-if = "sesion.practicaT.estadoPidEstadoP.nombre == 'Corregida P1'">
          <md-input-container>
          <label>Nota</label>
            <input type="text" name = "fechat" ng-model="sesion.practicaT1.calificacion" disabled>
          </md-input-container>
        </div>
        <div ng-if = "sesion.practicaT.estadoPidEstadoP.nombre == 'Corregida P1'">
          <md-input-container>
          <label>Observación</label>
            <textarea type="text" name = "observacion" ng-model="sesion.practicaT1.observacion" rows = "1" disabled></textarea>
          </md-input-container>
        </div>
      </div>
	    <div layout = "row">
        <div layout = "column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Ver Práctica&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</span>
                  <br>
            <span align = "center" class="md-subhead">Visualiza la práctica realizada <br>en la terminal bancaria</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
               <md-button  ng-click="verP()">Ir</md-button>
              </md-card-actions>
            </md-card>
        </div>
        <div layout = "column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Eliminar&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</span>
                  <br>
            <span align = "center" class="md-subhead">Elimina los registros de la práctica <br>en la terminal bancaria</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
               <md-button  ng-click="eliminarP()">Eliminar</md-button>
              </md-card-actions>
            </md-card>
        </div>
      </div>
      <div layout = "row">
        <div layout = "column" ng-if = "(sesion.practicaT.estadoPidEstadoP.nombre == 'Corregir P1' || sesion.practicaT.estadoPidEstadoP.nombre == 'Corregida P1') && sesion.userAux.estadoidEstado.nombreE == 'Abierta'">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Evaluar práctica&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</span>
                  <br>
            <span align = "center" class="md-subhead">Evalua la práctica realizada <br>en la terminal bancaria</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
               <md-button  ng-click="evaluar()">Evaluar</md-button>
              </md-card-actions>
            </md-card>
          </div>
          <div layout = "column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Canal de comunicación&nbsp &nbsp &nbsp &nbsp &nbsp&nbsp&nbsp </span>
                  <br>
            <span align = "center" class="md-subhead">Comuniquese con sus alumnos <br>para resolver sus dudas</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
               <md-button  ng-click="verCanal()">Ir</md-button>
              </md-card-actions>
            </md-card>
          </div>
        </div>
      </div>
  </div>
  <div layout-xs="column" flex layout = "column" layout-align = "center center" ng-show = "sesion.practicaT.estadoPidEstadoP.nombre == 'Desarrollo P2' || sesion.practicaT.estadoPidEstadoP.nombre == 'Corregir P2'">
      <div>
        <h3>Información Práctica</h3>
      </div>
      <div>
        <div>
          <md-input-container>
          <label>Comunidad</label>
            <input type="text" name = "comunidad" ng-model="sesion.practicaT.comunidadidComunidad.nombreC" disabled>
          </md-input-container>
        </div>
        <div>
          <md-input-container>
          <label>Alumno</label>
            <input type="text" ng-model="realizadorCompleto" disabled>
          </md-input-container>
        </div>
        <div>
          <md-input-container>
          <label>Email</label>
            <input type="text" name = "email" ng-model="realizador.emailU" disabled>
          </md-input-container>
        </div>
        <div>
          <md-input-container>
          <label>Fecha inicio</label>
            <input type="text" name = "fechai" ng-model="sesion.practicaT2.fechaInicio" disabled>
          </md-input-container>
        </div>
        <div>
          <md-input-container>
          <label>Estado</label>
            <input type="text" name = "estadoE" ng-model="practica.estadoPidEstadoP.nombre" disabled>
          </md-input-container>
        </div>
      </div>   
      <div layout = "row">
        <div layout = "column" ng-if = "sesion.practicaT.estadoPidEstadoP.nombre == 'Desarrollo P2' || sesion.practicaT.estadoPidEstadoP.nombre == 'Corregir P2' || sesion.practicaT.estadoPidEstadoP.nombre == 'Finalizada' || sesion.practicaT.corrector.estadoidEstado.nombreE == 'Cerrada'">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Ver Práctica&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</span>
                  <br>
            <span align = "center" class="md-subhead">Visualiza la práctica realizada <br>en la terminal bancaria</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
               <md-button  ng-click="verP()">Ir</md-button>
              </md-card-actions>
            </md-card>
        </div>
        <div layout = "column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Eliminar&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</span>
                  <br>
            <span align = "center" class="md-subhead">Elimina los registros de la práctica <br>en la terminal bancaria</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
               <md-button  ng-click="eliminarP()">Eliminar</md-button>
              </md-card-actions>
            </md-card>
        </div>
      </div>
      <div layout = "row">
        <div layout = "column" ng-if = "(sesion.practicaT.estadoPidEstadoP.nombre == 'Corregir P2' || sesion.practicaT.estadoPidEstadoP.nombre == 'Finalizada') && sesion.userAux.estadoidEstado.nombreE == 'Abierta'">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Evaluar práctica&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</span>
                  <br>
            <span align = "center" class="md-subhead">Evalua la práctica realizada <br>en la terminal bancaria</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
               <md-button  ng-click="evaluar()">Evaluar</md-button>
              </md-card-actions>
            </md-card>
          </div>
          <div layout = "column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Canal de comunicación&nbsp &nbsp &nbsp &nbsp &nbsp&nbsp&nbsp </span>
                  <br>
            <span align = "center" class="md-subhead">Comuniquese con sus alumnos <br>para resolver sus dudas</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
               <md-button  ng-click="verCanal()">Ir</md-button>
              </md-card-actions>
            </md-card>
          </div>
        </div>
  </div>

  <div layout-xs="column" flex layout = "column" layout-align = "center center" ng-show = "sesion.practicaT.estadoPidEstadoP.nombre == 'Finalizada'">
      <div>
        <h3>Información Práctica</h3>
      </div>
      <div layout = "column" layout-align = "center center">
          <div layout = "row">
            <div>
              <md-input-container>
              <label>Comunidad</label>
                <input type="text" name = "comunidad" ng-model="sesion.practicaT.comunidadidComunidad.nombreC" disabled>
              </md-input-container>
            </div>
            <div>
              <md-input-container>
              <label>Realizador</label>
                <input type="text" name = "realizador" ng-model="realizadorCompleto" disabled>
              </md-input-container>
            </div>
            <div>
              <md-input-container>
              <label>Email</label>
                <input type="text" name = "email" ng-model="practica.realizador.emailU" disabled>
              </md-input-container>
            </div>
          </div>
          <br>
          <div layout = "row" layout-align = "center center">
            <div layout = "column">
              <div>
                <h5>Práctica 1</h5>
              </div>
              <div>
                <md-input-container>
                <label>Fecha inicio</label>
                  <input type="text" name = "fechai" ng-model="sesion.practicaT1.fechaInicio" disabled>
                </md-input-container>
              </div>
              <div>
                <md-input-container>
                <label>Fecha Termino</label>
                  <input type="text" name = "fechat" ng-model="sesion.practicaT1.fechaTermino" disabled>
                </md-input-container>
              </div>
              <div>
                <md-input-container>
                <label>Estado</label>
                  <input type="text" name = "estado" ng-model="practica.estadoPidEstadoP.nombre" disabled>
                </md-input-container>
              </div>
              <div>
                <md-input-container>
                <label>Nota</label>
                  <input type="text" name = "nota" ng-model="sesion.practicaT1.calificacion" disabled>
                </md-input-container>
              </div>
              <div>
                <md-input-container>
                <label>Observación</label>
                  <textarea type="text" name = "observacion" ng-model="sesion.practicaT1.observacion" rows = "1" disabled></textarea>
                </md-input-container>
              </div>
            </div>
            <div layout = "column">
              <div>
                <h5>Práctica 2</h2>
              </div>
              <div>
                <md-input-container>
                <label>Fecha inicio</label>
                  <input type="text" name = "fechai" ng-model="sesion.practicaT2.fechaInicio" disabled>
                </md-input-container>
              </div>
              <div>
                <md-input-container>
                <label>Fecha Termino</label>
                  <input type="text" name = "fechat" ng-model="sesion.practicaT2.fechaTermino" disabled>
                </md-input-container>
              </div>
              <div>
                <md-input-container>
                <label>Estado</label>
                  <input type="text" name = "estado" ng-model="practica.estadoPidEstadoP.nombre" disabled>
                </md-input-container>
              </div>
              <div>
                <md-input-container>
                <label>Nota</label>
                  <input type="text" name = "nota" ng-model="sesion.practicaT2.calificacion" disabled>
                </md-input-container>
              </div>
              <div>
                <md-input-container>
                <label>Observación</label>
                  <textarea type="text" name = "observacion" ng-model="sesion.practicaT2.observacion" rows = "1" disabled></textarea>
                </md-input-container>
              </div>
            </div>
          </div>
          <div layout = "row">
            <div>
              <md-input-container>
              <label>Nota final</label>
                <input type="text" name = "notaF" ng-model="sesion.practicaT.calificacion" disabled>
              </md-input-container>
            </div>
          </div>
      </div>
      <div layout = "row">
        <div layout = "column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Ver Práctica&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</span>
                  <br>
            <span align = "center" class="md-subhead">Visualiza la práctica realizada <br>en la terminal bancaria</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
               <md-button  ng-click="verP()">Ir</md-button>
              </md-card-actions>
            </md-card>
        </div>
        <div layout = "column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Eliminar&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</span>
                  <br>
            <span align = "center" class="md-subhead">Elimina los registros <br>de la práctica</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
               <md-button  ng-click="eliminarP()">Eliminar</md-button>
              </md-card-actions>
            </md-card>
        </div>
      </div>
      <div layout = "row">
          <div layout = "column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Canal de comunicación&nbsp &nbsp &nbsp &nbsp &nbsp&nbsp&nbsp </span>
                  <br>
            <span align = "center" class="md-subhead">Comuniquese con sus alumnos <br>para resolver sus dudas</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
               <md-button  ng-click="verCanal()">Ir</md-button>
              </md-card-actions>
            </md-card>
          </div>
        </div>
  </div>
</md-content>
