<md-content flex class="md-whiteframe-z3 md-padding">
 <div layout = "row">
  <div>
   <md-button id="main" class="md-icon-button"  aria-label="Show User List" ng-click = "back()">
    <md-icon md-svg-icon="img/icon/ic_arrow_back_black_48px.svg" ></md-icon>
   </md-button>
  </div>
  <div>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#/home/ayudante/verAsignados">Prácticas Alumno</a></li>
      <li class="breadcrumb-item"><a href="#/home/ayudante/practicaPreliminar">Práctica Alumno</a></li>
      <li class="breadcrumb-item"><a href="#/home/ayudante/practicahome">Inicio Práctica</a></li> 
      <li class="breadcrumb-item active">Historias de usuario</li>
    </ol>
  </div>
</div>

   <div layout = "column" layout-align="center center">
                <br>
                <h3>Historias de usuario</h3>
        </div>
        <div layout = "column" layout-align="center center">
                <div  layout="row" layout-align="center center">
                    <div>
                      <md-icon md-svg-icon="img/icon/ic_search_black_48px.svg"></md-icon>
                    </div>
                     <div>
                        <md-input-container md-no-float md-is-error="false" class="md-block flex-gt-xs flex-xs">
                          <label>Búsqueda</label>
                            <input ng-model="nombreHU"
                                   class="md-input"
                                   ng-change="gridActions.filter()"
                                   id="order"
                                   filter-by="nombreHU"
                                   filter-type="text"
                                   aria-invalid="false"
                                   placeholder = "Búsqueda por nombre">
                        </md-input-container>
                    </div>
                  </div>
                </div>
        </div>

        <div  layout="row" layout-align="center">
          <div flex-gt-md="60" flex-md="80" flex-xs="100">
              <div grid-data id='test' grid-options="gridOptions" grid-actions="gridActions">
                  <div layout-gt-sm="row" layout-sm="column" layout-align="center">
                      <div flex-gt-sm="25" flex-sm="100" layout="row" layout-align="start center">
                          <span>{{filtered.length}} Total de historias de usuario</span>
                      </div>
                      <div flex-gt-sm="75" flex-xs="100">
                          <div layout-xs="column" layout="row" layout-align-xs="end end" layout-align="end center">
                              <grid-pagination max-size="20"
                                               boundary-links="true"
                                               class="pagination mdl-shadow--2dp"
                                               
                                               total-items="paginationOptions.totalItems"
                                               ng-model="paginationOptions.currentPage"
                                               ng-change="reloadGrid()"
                                               items-per-page="paginationOptions.itemsPerPage">
                              </grid-pagination>
                              <md-input-container flex-offset-gt-xs="5" class="items-per-page">
                                  <md-select  ng-init="paginationOptions.itemsPerPage = '5'" ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()"  aria-label="More">
                                      <md-option>5</md-option>
                                      <md-option>10</md-option>
                                      <md-option>25</md-option>
                                  </md-select>
                              </md-input-container>
                          </div>
                      </div>
                  </div>

                  <div>
                      <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                          <thead>

                           <tr>
                              <th class="sortable">
                                  <span>Identificador</span>
                              </th>
                              <th class="sortable">
                                  <span>Nombre</span>
                              </th>
                          </tr>


                          </thead>
                          <tbody>
                          <tr grid-item ng-click = "verPA(item)">
                                <td ng-bind="item.identificadorHU"></td>
                                <td ng-bind="item.nombreHU"></td>
                          </tr>
                          </tbody>
                      </table>
                  </div>

                  <div layout-xs="column" layout="row" layout-align-xs="end end" layout-align="end center">
                      <grid-pagination max-size="20"
                                       boundary-links="true"
                                       class="pagination"
                                       ng-if="paginationOptions.totalItems  > paginationOptions.itemsPerPage"
                                       total-items="paginationOptions.totalItems"
                                       ng-model="paginationOptions.currentPage"
                                       ng-change="reloadGrid()"
                                       items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                      <md-input-container flex-offset-gt-xs="5" class="items-per-page">
                          <md-select ng-init="paginationOptions.itemsPerPage = '5'" ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()"  aria-label="More">
                              <md-option>5</md-option>
                              <md-option>10</md-option>
                              <md-option>25</md-option>
                          </md-select>
                      </md-input-container>
                  </div>
              </div>
          </div>
        </div>

</md-content>