<md-content class="md-whiteframe-z3" flex id="content">
 <div layout = "row">
  <div>
   <md-button id="main" class="md-icon-button"  aria-label="Show User List" ng-click = "back()">
    <md-icon md-svg-icon="img/icon/ic_arrow_back_black_48px.svg" ></md-icon>
   </md-button>
  </div>
  <div>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#/home/profesor/verAsignados">Prácticas Alumno</a></li>
      <li class="breadcrumb-item"><a href="#/home/profesor/practicaPreliminar">Práctica Alumno</a></li>
      <li class="breadcrumb-item active">Evaluar práctica</li>
    </ol>
  </div>
</div>
  <div layout = "row" layout-align="center center">
                      <div layout = "column" layout-align="center center">
                      <br>
                      <div>
                        <h3>Evaluar práctica</h3>
                      </div>
                        <br>
                        <br>
                          <div>
                            <md-input-container>
                              <label>Alumno</label>
                              <input type="text" ng-model="realizadorCompleto" disabled>
                            </md-input-container>
                          </div>
                          <div>
                            <md-input-container>
                              <label>Fecha Inicio</label>
                              <input type="text"  ng-model="practica.fechaInicio" disabled>
                            </md-input-container>
                          </div>
                          <div>
                            <md-input-container>
                              <label>Fecha Termino</label>
                              <input type="text" ng-model="practica.fechaTermino" disabled>
                            </md-input-container>
                          </div>
                          <div>
                            <md-input-container>
                              <label>Estado</label>
                              <input type="text" ng-model="practica.estadoPidEstadoP.nombre" disabled>
                            </md-input-container>
                          </div>
                          <div layout = "column">
                            <form name="ev">
                              <div>
                                <md-input-container>
                                        <label>Nota</label>
                                          <input type="number" name = "nota" ng-required = "true" ng-model="nota">
                                          <div ng-messages="ev.nota.$error">
                                            <div ng-message="required">Nota requerida!</div>
                                          </div>
                                  </md-input-container>
                              </div>
                              <div>
                                  <md-input-container>
                                        <label>Observaciones</label>
                                          <textarea type="text" name = "obs" ng-required = "true" ng-maxlength="1000" rows = "3" ng-model="observaciones"></textarea>
                                          <div ng-messages="ev.obs.$error">
                                             <div ng-message="required">Observaciones requeridas!</div>
                                             <div ng-message="maxlength">Máximo 1000 caracteres</div>
                                          </div>
                                  </md-input-container>
                              </div>
                              <div layout = "column" layout-align="center center">
                                    <md-button class="md-raised md-primary" ng-disabled = "ev.nota.$invalid || ev.obs.$invalid " ng-click = "evaluarP()">Evaluar</md-button>
                              </div> 
                            </form> 
                          </div>
                      </div>
  </div>
</md-content>