<md-content flex class="md-whiteframe-z3 md-padding">
  <div layout = "row">
    <div>
     <md-button id="main" class="md-icon-button"  aria-label="Show User List" ng-click = "back1()">
      <md-icon md-svg-icon="img/icon/ic_arrow_back_black_48px.svg" ></md-icon>
     </md-button>
    </div>
    <div flex>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#/home/profesor/verAsignados">Prácticas Alumno</a></li>
        <li class="breadcrumb-item"><a href="#/home/profesor/practicaPreliminar">Práctica Alumno</a></li>
        <li class="breadcrumb-item"><a href="#/home/profesor/practicahome">Inicio Práctica</a></li>
        <li class="breadcrumb-item"><a href="#/home/profesor/practica2">Gestión de reparación módulo bancario</a></li>
        <li class="breadcrumb-item active">Instrucciones de configuración</li>
      </ol>
    </div>  
  </div>
      <div flex layout = "column" layout-align = "center center">
        <h3>Instrucciones de configuración correctores</h3>
      </div>

      <md-content>
              <md-tabs md-dynamic-height="" md-border-bottom="">
                <md-tab label="1. Creación Cuenta">
                  <md-content class="md-padding">
                      <div flex layout = "column" layout-align = "center center">
                        <h4>Creación de cuenta</h4>
                      </div>
                      <div layout = "column" layout-align = "center center">
                      <br>
                      <div align = "center">
                          <p>1. Ingrese a la página oficial de codenvy, y diríjase a la opción "login".</p>
                        <img  src="img/codenvy/cc1.png" class="img-thumbnail" alt="Cinque Terre" width="1000" height="1000"> 
                      </div>
                      <div layout = "column" layout-align = "center center">
                          <div align = "center">
                          <br>
                          <br>
                            <p>2. Seleccione la opción "Create One" e registrese con el e-mail con el cual se registró en Rapsodia. En el caso que usted posea una cuenta en Google+ con el e-mail de Rapsodia, seleccione el ícono de "Google+".</p>
                          </div>
                        <div layout = "row" layout-align = "center center">
                          <div layout = "column" layout-align = "center center">
                          <br>
                            <img  src="img/codenvy/cc2.png" class="img-thumbnail" alt="Cinque Terre" width="420" height="420"> 
                          </div>
                          <div layout = "column" layout-align = "center center">
                          <br>
                            <img  src="img/codenvy/cc3.png" class="img-thumbnail" alt="Cinque Terre" width="400" height="400"> 
                          </div> 
                        </div>
                      </div> 
                      <div layout = "column" layout-align = "center center">
                          <br>
                            <img  src="img/codenvy/cc2.1.png" class="img-thumbnail" alt="Cinque Terre" width="600" height="600"> 
                          </div>
                      <div layout = "column" layout-align = "center center">
                      <br>
                          <div align = "center">
                          <br>
                            <p>3. Una vez registrado será notificado a su e-mail para confirmar su cuenta en codenvy".</p>
                          </div>
                        <img  src="img/codenvy/cc4.png" class="img-thumbnail" alt="Cinque Terre" width="500" height="500"> 
                      </div>
                      <div layout = "column" layout-align = "center center">
                      <br>
                          <div align = "center">
                            <br>
                              <p>4. Para finalizar el registro de la cuenta, debe ingresar los datos solicitados en el formulario y seleccionar la opción "Get Started".</p>
                          </div>
                        <img  src="img/codenvy/cc5.png" class="img-thumbnail" alt="Cinque Terre" width="500" height="500"> 
                      </div>
                      <div layout = "column" layout-align = "center center">
                      <br>
                        <div align = "center">
                            <br>
                              <p>5. Página de inicio cuenta de usuario.</p>
                          </div>
                        <img  src="img/codenvy/cc6.png" class="img-thumbnail" alt="Cinque Terre" width="1000" height="1000"> 
                      </div>     
                  </md-content>
                </md-tab>
                <md-tab label="2. Ambientes de trabajo">
                  <md-content class="md-padding">
                      <div flex layout = "column" layout-align = "center center">
                        <h4>Ambientes de trabajo alumnos</h4>
                      </div>
                      <div layout = "column" layout-align = "center center">
                      <br>
                      <div align = "center">
                          <p>1. Ingrese a su cuenta en codenvy, diríjase a Workspaces y seleccione el ambiente de trabajo a visualizar.</p>
                      </div>
                        <img  src="img/codenvy/pa1.png" class="img-thumbnail" alt="Cinque Terre" width="1500" height="1500"> 
                      </div>
                          <div layout = "column" layout-align = "center center">
                          <br>
                          <div align = "center">
                            <p>2. Seleccione "Settings" y "Run" para ejecutar el ambiente de trabajo.</p>
                          </div>
                            <img  src="img/codenvy/pa2.png" class="img-thumbnail" alt="Cinque Terre" width="1000" height="1000"> 
                          </div>
                          <div layout = "column" layout-align = "center center">
                          <br>
                          <div align = "center">
                            <p>3. Seleccione "Share" para visualizar al alumno realizador de la práctica.</p>
                          </div>
                            <img  src="img/codenvy/pa3.png" class="img-thumbnail" alt="Cinque Terre" width="1500" height="1500"> 
                          </div>
                          <div layout = "column" layout-align = "center center">
                          <br>
                          <div align = "center">
                            <p>4. Una vez que el "State" sea "Running", seleccione la opción "Open" para ingresar al ambiente de trabajo del alumno.</p>
                          </div>
                            <img  src="img/codenvy/pa5.png" class="img-thumbnail" alt="Cinque Terre" width="1200" height="1200"> 
                          </div>
                          <div layout = "column" layout-align = "center center">
                          <br>
                          <div align = "center">
                            <p>5. Ambiente de trabajo alumno.</p>
                          </div>
                            <img  src="img/codenvy/pa4.png" class="img-thumbnail" alt="Cinque Terre" width="1200" height="1200"> 
                          </div>            
                  </md-content>
                </md-tab>
                <md-tab label="3. Configuración de ambiente de trabajo">
                  <md-content class="md-padding">
                      <div flex layout = "column" layout-align = "center center">
                        <h4>Configuración de ambiente de trabajo</h4>
                      </div>
                      <div layout = "column" layout-align = "center center">
                      <br>
                      <div align = "center">
                          <p>1. Ingrese a su ambiente de trabajo.</p>
                      </div>
                        <img  src="img/codenvy/a13.png" class="img-thumbnail" alt="Cinque Terre" width="1000" height="1000"> 
                      </div>
                          <div layout = "column" layout-align = "center center">
                          <br>
                          <div align = "center">
                            <p>2. Seleccione "practicaRapsodia [console-java-simple]" para ver la organización de las carpetas del proyecto.</p>
                          </div>
                            <img  src="img/codenvy/a14.png" class="img-thumbnail" alt="Cinque Terre" width="501" height="501"> 
                          </div>
                          <div layout = "column" layout-align = "center center">
                          <br>
                          <div align = "center">
                            <p>3. Seleccione el paquete "org.eclipse.che.examples" para ver las clases del proyecto.</p>
                          </div>
                            <img  src="img/codenvy/a15.png" class="img-thumbnail" alt="Cinque Terre" width="1000" height="1000"> 
                          </div>
                      <div layout = "column" layout-align = "center center">
                      <br>
                          <div align = "center">
                          <br>
                            <p>4. Seleccione el paquete "com.codenvy.example.java" para ver las clases para confeccionar las pruebas.</p>
                          </div>
                        <img  src="img/codenvy/a16.png" class="img-thumbnail" alt="Cinque Terre" width="1000" height="1000"> 
                      </div>
                    
                      <div layout = "column" layout-align = "center center">
                      <br>
                        <div align = "center">
                            <br>
                              <p>5. A continuación se configurará el comando para ejecutar el proyecto. Para esto seleccione "Edit Commands..."</p>
                          </div>
                        <img  src="img/codenvy/a26.png" class="img-thumbnail" alt="Cinque Terre" width="800" height="800"> 
                      </div>
                      <div layout = "column" layout-align = "center center">
                      <br>
                        <div align = "center">
                            <br>
                              <p6. Cree un nuevo comando presionando el ícono ubicado al lado derecho del título Maven. Posteriormente ingrese los datos especificados en la imagen en la definición del comando.</p>
                          </div>
                        <img  src="img/codenvy/a27.png" class="img-thumbnail" alt="Cinque Terre" width="1000" height="1000"> 
                      </div>
                      <div layout = "column" layout-align = "center center">
                      <br>
                        <div align = "center">
                            <br>
                              <p>7. Seleccione en la sección de comandos "build" y presione el botón especificado en la imagen. De esta manera las clases del proyecto serán compiladas y se ejecutarán las pruebas automatizadas implementadas.</p>
                          </div>
                        <img  src="img/codenvy/a28.png" class="img-thumbnail" alt="Cinque Terre" width="500" height="500"> 
                      </div>
                      <div layout = "column" layout-align = "center center">
                      <br>
                        <div align = "center">
                            <br>
                              <p>8. Terminal del ambiente de trabajo donde puede visualizar las acciones ejecutados por el comando "Build" y sus respectivos resultados.</p>
                          </div>
                        <img  src="img/codenvy/a29.png" class="img-thumbnail" alt="Cinque Terre" width="1000" height="1000"> 
                      </div>
                      <div layout = "column" layout-align = "center center">
                      <br>
                        <div align = "center">
                            <br>
                              <p>9. Seleccione en la sección de comandos "practicaRapsodia: run" y presione el botón especificado en la imagen. Con esto el proyecto será ejecutado.</p>
                          </div>
                        <img  src="img/codenvy/a30.png" class="img-thumbnail" alt="Cinque Terre" width="500" height="500"> 
                      </div>
                      <div layout = "column" layout-align = "center center">
                      <br>
                        <div align = "center">
                            <br>
                              <p>10. Terminal con el resultado de la ejecución del proyecto.</p>
                          </div>
                        <img  src="img/codenvy/a31.png" class="img-thumbnail" alt="Cinque Terre" width="1000" height="1000"> 
                      </div>               
                  </md-content>
                </md-tab>
              </md-tabs>
      </md-content>
</md-content>
