<md-content flex class="md-whiteframe-z3 md-padding">
 <div layout = "row">
  <div>
   <md-button id="main" class="md-icon-button"  aria-label="Show User List" ng-click = "back()">
    <md-icon md-svg-icon="img/icon/ic_arrow_back_black_48px.svg" ></md-icon>
   </md-button>
  </div>
  <div>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#/home/profesor/verAsignados">Prácticas Alumno</a></li>
      <li class="breadcrumb-item"><a href="#/home/profesor/practicaPreliminar">Práctica Alumno</a></li>
      <li class="breadcrumb-item active">Inicio Práctica</li>
    </ol>
  </div>
</div>	  
<div layout-xs="column" flex layout = "column" layout-align = "center center" ng-show = "sesion.practicaT.estadoPidEstadoP.nombre == 'Desarrollo P1' || sesion.practicaT.estadoPidEstadoP.nombre == 'Corregir P1' || sesion.practicaT.estadoPidEstadoP.nombre == 'Corregida P1'">
      <div layout = "column" layout-align = "center center">
        <h3>Enunciado</h3>
      </div>

       <div align = "center">
        <p align="justify">El alumno debe crear <strong>casos de prueba funcionales</strong> utilizando las historias de usuario y pruebas de aceptación del módulo bancario. Una vez confeccionados los casos de prueba, debe proceder a identificar incidencias dentro del módulo y dejar evidencia de su existencia. Se recomienda previamente que haya leído el <strong>material teórico</strong> y tomar en cuenta los <strong>tips</strong> que se entregan en cada tópico.</p>
        <h4>Instrucciones</h4>
        <p align="justify">1. Dirigirse a la sección <strong>Historias de usuario</strong> para tener contexto sobre las funcionalidades del sistema con las historias de usuario y pruebas de aceptación del módulo bancario.</p>
        <p align="justify">2. Dirigirse a la sección <strong>Pauta de evaluación</strong>, para observar el listado de incidencias que posee el módulo bancario dañado e inspeccionar el módulo bancario correcto ingresando con su rut y contraseña de la plataforma.</p>
        <p align="justify">3. Dirigirse a la sección <strong>Módulo bancario dañado</strong>, para explorar el software bancario dañado identificandose con su rut y contraseña de la plataforma.</p>
        <p align="justify">4. Verificar las pruebas funcionales creadas por los alumnos, en la sección <strong>Gestión de pruebas funcionales</strong>.</p>
        <p align="justify">5. Verificar las incidencias identificadas por los alumnos, en la sección <strong>Gestión de incidencias</strong>.</p>
        <p align="justify">6. Resolver dudas al alumno sobre el funcionamiento del software, en la sección <strong>Canal de comunicación</strong></p><br>

      </div>

      <div flex layout = "row" layout-align = "center center">
        <div>
          <md-input-container>
          <label>Comunidad</label>
           <input type="text" name = "rol" ng-model="sesion.getPracticaT().comunidadidComunidad.nombreC" disabled>
          </md-input-container>
        </div>
        <div>
          <md-input-container>
          <label>Alumno</label>
           <input type="text" name = "rol" ng-model="nombreRealizador" disabled>
          </md-input-container>
        </div>
         <div>
          <md-input-container>
          <label>Email</label>
           <input type="text" name = "rol" ng-model="sesion.getPracticaT().realizador.emailU" disabled>
          </md-input-container>
        </div>
      </div>

      <div layout = "row" layout-align = "center center">
        <div layout = "column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Historias de usuario&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp&nbsp</span>
                  <br>
            <span align = "center" class="md-subhead">Visualize las historias de usuario y <br>pruebas de aceptación del <br>módulo bancario</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
               <md-button  ng-click="verHU()">Ir</md-button>
              </md-card-actions>
            </md-card>
          </div>
          <div layout = "column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Módulo bancario dañado&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</span>
                  <br>
            <span align = "center" class="md-subhead">Ingrese al módulo bancario dañado para <br>interactuar con sus funcionalidades<br> e identificar sus incidencias</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
               <md-button  ng-click="verTerminal()">Ir</md-button>
              </md-card-actions>
            </md-card>
          </div>   
      </div>

      <div  flex layout = "row" layout-align = "center center">
      <div layout = "column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Gestión de pruebas funcionales &nbsp &nbsp</span>
                  <br>
            <span align = "center" class="md-subhead">Gestione las pruebas funcionales<br> y sus incidencias asociadas</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
               <md-button  ng-click="verCasos()">Ir</md-button>
              </md-card-actions>
            </md-card>
          </div>
        <div layout = "column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Gestión de incidencias &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</span>
                  <br>
            <span align = "center" class="md-subhead">Gestione las incidencias encontradas en el <br>módulo bancario<br></span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
               <md-button  ng-click="verIncidencias()">Ir</md-button>
              </md-card-actions>
            </md-card>
          </div>
      </div>


      <div  flex layout = "row" layout-align = "center center">
        <div layout = "column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Pauta de evaluación &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</span>
                  <br>
            <span align = "center" class="md-subhead">Visualize la pauta de evaluación <br>de la práctica terminal bancaria<br></span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
               <md-button  ng-click="verPauta()">Ir</md-button>
              </md-card-actions>
            </md-card>
          </div>
      </div>
</div>
<div layout-xs="column" flex layout = "column" layout-align = "center center" ng-show = "sesion.practicaT.estadoPidEstadoP.nombre == 'Desarrollo P2' || sesion.practicaT.estadoPidEstadoP.nombre == 'Corregir P2' || sesion.practicaT.estadoPidEstadoP.nombre == 'Finalizada'">
      <div>
        <h3>Enunciado</h3>
      </div>

      <div align = "center">
        <p align="justify">El alumno debe reparar <strong>el código del módulo bancario</strong> simplificado para la práctica utilizando el lenguaje de programación Java en la plataforma Codenvy y utilizando como base el reporte de incidencias y las conversaciones con el corrector <strong>(Product Owner)</strong>, confeccionará <strong>pruebas unitarias automatizadas</strong> a los métodos y clases reparadas con JUnit. Además haciendo uso de la técnica <strong>Test Driven Development</strong> deberá implementar las funcionalidades faltantes de módulo bancario las cuales son <strong>Retiro y Transferencia</strong>.</p> 
        <h4>Instrucciones</h4>
        <p align="justify">1. Dirigirse a la sección <strong>Gestión reparación módulo bancario</strong>. En esta se especifican las instrucciones necesarias para acceder a los ambientes de trabajo de los alumnos.</p>
        <p align="justify">2. Configurar para tener acceso a la práctica de los alumnos, en la sección <strong>Instrucciones de configuración correctores</strong>.</p>
        <p align="justify">3. Ingresar en el ambiente de trabajo del alumno en la plataforma Codenvy.</p>
        <p align="justify">4. Verificar el avance en la reparación de los métodos y confección de pruebas unitarias automatizadas.</p> 
        <p align="justify">5. Comunicarse con el alumno para resolver dudas, en la sección <strong>Canal de comunicación</strong></p>
        <br>
      </div>

      <div flex layout = "row" layout-align = "center center">
        <div>
          <md-input-container>
          <label>Comunidad</label>
           <input type="text" name = "rol" ng-model="sesion.practicaT.comunidadidComunidad.nombreC" disabled>
          </md-input-container>
        </div>
        <div>
          <md-input-container>
          <label>Alumno</label>
           <input type="text" name = "rol" ng-model="nombreRealizador" disabled>
          </md-input-container>
        </div>
         <div>
          <md-input-container>
          <label>Email</label>
           <input type="text" name = "rol" ng-model="sesion.practicaT.realizador.emailU" disabled>
          </md-input-container>
        </div>
      </div>

       <div layout = "row" layout-align = "center center">
        <div layout = "column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Gestión reparación módulo bancario&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp</span>
                  <br>
            <span align = "center" class="md-subhead">Visualize las instrucciones de configuración <br>de su ambiente de trabajo e indique las URLs de acceso <br>y repositorio de su práctica</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
               <md-button  ng-click="reparacion()">Ir</md-button>
              </md-card-actions>
            </md-card>
        </div>
      </div>
      <div layout = "row" layout-align = "center center">
        <div layout = "column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Historias de usuario&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp&nbsp</span>
                  <br>
            <span align = "center" class="md-subhead">Visualize las historias de usuario y <br>pruebas de aceptación del <br>módulo bancario</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
               <md-button  ng-click="verHU()">Ir</md-button>
              </md-card-actions>
            </md-card>
          </div>
          <div layout = "column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Módulo bancario dañado&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</span>
                  <br>
            <span align = "center" class="md-subhead">Ingrese al módulo bancario dañado para <br>interactuar con sus funcionalidades<br> e identificar sus incidencias</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
               <md-button  ng-click="verTerminal()">Ir</md-button>
              </md-card-actions>
            </md-card>
          </div>   
      </div>

      <div  flex layout = "row" layout-align = "center center">
      <div layout = "column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Gestión de pruebas funcionales &nbsp &nbsp</span>
                  <br>
            <span align = "center" class="md-subhead">Gestione las pruebas funcionales<br> y sus incidencias asociadas</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
               <md-button  ng-click="verCasos()">Ir</md-button>
              </md-card-actions>
            </md-card>
          </div>
        <div layout = "column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Gestión de incidencias &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</span>
                  <br>
            <span align = "center" class="md-subhead">Gestione las incidencias encontradas en el <br>módulo bancario<br></span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
               <md-button  ng-click="verIncidencias()">Ir</md-button>
              </md-card-actions>
            </md-card>
          </div>
      </div>


      <div  flex layout = "row" layout-align = "center center">
        <div layout = "column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Pauta de evaluación &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</span>
                  <br>
            <span align = "center" class="md-subhead">Visualize la pauta de evaluación <br>de la práctica terminal bancaria<br></span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
               <md-button  ng-click="verPauta()">Ir</md-button>
              </md-card-actions>
            </md-card>
          </div>
      </div>
</div>     
</md-content>
