<md-content flex class="md-whiteframe-z3 md-padding">
 <div layout = "row">
  <div>
   <md-button id="main" class="md-icon-button"  aria-label="Show User List" ng-click = "back()">
    <md-icon md-svg-icon="img/icon/ic_arrow_back_black_48px.svg" ></md-icon>
   </md-button>
  </div>
  <div>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#/home/profesor/verAsignados">Prácticas Alumno</a></li>
      <li class="breadcrumb-item"><a href="#/home/profesor/practicaPreliminar">Práctica Alumno</a></li>
      <li class="breadcrumb-item"><a href="#/home/profesor/practicahome">Inicio Práctica</a></li>
      <li class="breadcrumb-item active">Historias de usuario</li>
    </ol>
  </div>
</div>
  <div layout = "column" layout-align="center center">
          <br>
          <h3>Historias de usuario</h3>
          <p align="justify">A continuación se presentan las historias de usuario y pruebas de aceptación del módulo bancario</p>
  </div>
  <div align="center">
          <h5><strong><md-icon md-svg-icon="img/icon/material/lightbulb-on-outline.svg" ></md-icon> Recomendaciones</strong></h5>
                <ol align = "left">
                  <li>Leer detenidamente cada historia de usuario y pruebas de aceptación</li>
                  <li>Resolver todas las dudas que surgan respecto a la documentación (Historias de usuario/Pruebas de aceptación) y funcionamiento del software al alumno.</li>
                  <li>Mantener continua comunicación con el alumno para explicarle el contexto del negocio.</li>
                  <li>Indicar las reglas de negocio que las funcionalidades del software deben cumplir al alumno.</li>
                  <li>Entregar ejemplos a los alumnos sobre el funcionamiento del software.</li>
                  <li>Mencionar la importancia de las migas de pan, botón de atrás, ventanas de confirmación y mensajes de retroalimentación al usuario.</li>
                </ol>
        </div>
      <md-tabs md-dynamic-height="" md-border-bottom="">
              <md-tab label="HU-1">
                <md-content class="md-padding">
                   <div flex layout = "column" layout-align = "center center">
                      <h4>HU-1</h4>
                    </div> 
                    <br>
                    <div flex layout = "row">
                        <md-input-container flex>
                          <label>Identificador</label>
                          <input ng-model="hu[0].identificadorHU" disabled>
                        </md-input-container>
                    </div>
                     <div flex layout = "row">
                        <md-input-container flex>
                          <label>Nombre</label>
                          <input ng-model="hu[0].nombreHU" disabled>
                        </md-input-container>
                    </div>
                      <md-input-container flex class="md-block" >
                      <label>Descripción</label>
                         <textarea ng-model="hu[0].descripcionHU" md-detect-hidden = "true" disabled></textarea>
                      </md-input-container>

                       <div flex layout = "column" layout-align = "center center">
                          <h4>Prueba de aceptación</h4>
                        </div>  
                        <br>
                        <div flex layout = "row">
                            <md-input-container flex>
                              <label>Identificador</label>
                              <input ng-model="pas[0].identificadorPA" disabled>
                            </md-input-container>
                        </div>
                         <div flex layout = "row">
                            <md-input-container flex>
                              <label>Nombre</label>
                              <input ng-model="pas[0].nombrePA" disabled>
                            </md-input-container>
                        </div>
                          <md-input-container flex class="md-block" >
                          <label>Descripción</label>
                             <textarea ng-model="pas[0].descripcionPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>
                          <md-input-container flex class="md-block" >
                            <label>Pre-condiciones</label>
                             <textarea ng-model="pas[0].precondicionesPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>
                          <md-input-container flex class="md-block" >
                            <label>Pasos</label>
                             <textarea ng-model="pas[0].pasosPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>
                          <md-input-container flex class="md-block" >
                            <label>Resultados esperados</label>
                             <textarea ng-model="pas[0].resultadosEPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>

                       <div align = "center">
                         <h4><md-icon md-svg-icon="img/icon/material/ic_priority_high_black_24px.svg" ></md-icon>Reglas</h4>
                         <ol align = "left">
                           <li>Validar el formato del rut, Formato correcto: 9214907-2</li>
                           <li>Entregar un ejemplo al usuario sobre el formato correcto del rut</li>
                           <li>Esconder la contraseña como medio de seguridad para el usuario</li>
                           <li>Notificar al usuario mediante un mensaje cuando sus credenciales son incorrectas y/o el rut no existe en los registros del sistema.</li>
                         </ol>
                       </div>   

                      <div flex layout = "column" layout-align = "center center">
                          <h4>Prueba de aceptación</h4>
                        </div>
                        <br>  
                        <div flex layout = "row">
                            <md-input-container flex>
                              <label>Identificador</label>
                              <input ng-model="pas[1].identificadorPA" disabled>
                            </md-input-container>
                        </div>
                         <div flex layout = "row">
                            <md-input-container flex>
                              <label>Nombre</label>
                              <input ng-model="pas[1].nombrePA" disabled>
                            </md-input-container>
                        </div>
                          <md-input-container flex class="md-block" >
                          <label>Descripción</label>
                             <textarea ng-model="pas[1].descripcionPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>
                          <md-input-container flex class="md-block" >
                            <label>Pre-condiciones</label>
                             <textarea ng-model="pas[1].precondicionesPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>
                          <md-input-container flex class="md-block" >
                            <label>Pasos</label>
                             <textarea ng-model="pas[1].pasosPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>
                          <md-input-container flex class="md-block" >
                            <label>Resultados esperados</label>
                             <textarea ng-model="pas[1].resultadosEPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>
                </md-content>
              </md-tab>
              <md-tab label="HU-2">
                <md-content class="md-padding">
                   <!-- HU 2-->  
                    <div flex layout = "column" layout-align = "center center">
                      <h4>HU-2</h4>
                    </div>
                    <br>
                    <div flex layout = "row">
                        <md-input-container flex>
                          <label>Identificador</label>
                          <input ng-model="hu[1].identificadorHU" disabled>
                        </md-input-container>
                    </div>
                     <div flex layout = "row">
                        <md-input-container flex>
                          <label>Nombre</label>
                          <input ng-model="hu[1].nombreHU" disabled>
                        </md-input-container>
                    </div>
                      <md-input-container flex class="md-block" >
                      <label>Descripción</label>
                         <textarea ng-model="hu[1].descripcionHU" md-detect-hidden = "true" disabled></textarea>
                      </md-input-container>

                      <div flex layout = "column" layout-align = "center center">
                          <h4>Prueba de aceptación</h4>
                        </div>
                        <br>  
                        <div flex layout = "row">
                            <md-input-container flex>
                              <label>Identificador</label>
                              <input ng-model="pas[2].identificadorPA" disabled>
                            </md-input-container>
                        </div>
                         <div flex layout = "row">
                            <md-input-container flex>
                              <label>Nombre</label>
                              <input ng-model="pas[2].nombrePA" disabled>
                            </md-input-container>
                        </div>
                          <md-input-container flex class="md-block" >
                          <label>Descripción</label>
                             <textarea ng-model="pas[2].descripcionPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>
                          <md-input-container flex class="md-block" >
                            <label>Pre-condiciones</label>
                             <textarea ng-model="pas[2].precondicionesPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>
                          <md-input-container flex class="md-block" >
                            <label>Pasos</label>
                             <textarea ng-model="pas[2].pasosPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>
                          <md-input-container flex class="md-block" >
                            <label>Resultados esperados</label>
                             <textarea ng-model="pas[2].resultadosEPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>

                      
                </md-content>
              </md-tab>
              <md-tab label="HU-3">
                <md-content class="md-padding">
                   <!-- HU 3-->    
                    <div flex layout = "column" layout-align = "center center">
                      <h4>HU-3</h4>
                    </div>
                    <br>  
                    <div flex layout = "row">
                        <md-input-container flex>
                          <label>Identificador</label>
                          <input ng-model="hu[2].identificadorHU" disabled>
                        </md-input-container>
                    </div>
                     <div flex layout = "row">
                        <md-input-container flex>
                          <label>Nombre</label>
                          <input ng-model="hu[2].nombreHU" disabled>
                        </md-input-container>
                    </div>
                      <md-input-container flex class="md-block" >
                      <label>Descripción</label>
                         <textarea ng-model="hu[2].descripcionHU" md-detect-hidden = "true" disabled></textarea>
                      </md-input-container>

                        <div flex layout = "column" layout-align = "center center">
                          <h4>Prueba de aceptación</h4>
                        </div>
                        <br>  
                        <div flex layout = "row">
                            <md-input-container flex>
                              <label>Identificador</label>
                              <input ng-model="pas[2].identificadorPA" disabled>
                            </md-input-container>
                        </div>
                         <div flex layout = "row">
                            <md-input-container flex>
                              <label>Nombre</label>
                              <input ng-model="pas[2].nombrePA" disabled>
                            </md-input-container>
                        </div>
                          <md-input-container flex class="md-block" >
                          <label>Descripción</label>
                             <textarea ng-model="pas[2].descripcionPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>
                          <md-input-container flex class="md-block" >
                            <label>Pre-condiciones</label>
                             <textarea ng-model="pas[2].precondicionesPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>
                          <md-input-container flex class="md-block" >
                            <label>Pasos</label>
                             <textarea ng-model="pas[2].pasosPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>
                          <md-input-container flex class="md-block" >
                            <label>Resultados esperados</label>
                             <textarea ng-model="pas[2].resultadosEPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>
                         <div align = "center">
                         <h4><md-icon md-svg-icon="img/icon/material/ic_priority_high_black_24px.svg" ></md-icon>Reglas</h4>
                         <ol align = "left">
                           <li>No se permite depositar montos igual o menores que 0</li>
                           <li>El sistema soporta almacenar solamente 1000000</li>
                           <li>Manejar el valor máximo soportado por el campo monto que es de 2147483647 y -2147483647</li>
                           <li>Notificar al usuario mediante un mensaje sobre el formato del monto a depositar. Ejemplo 10000</li>
                           <li>Notificar al usuario mediante un mensaje sobre el estado de su depósito.</li>
                           <li>Notificar al usuario mediante un mensaje sobre las restricciones del sistema en el caso que no las cumpla.</li>
                         </ol>
                       </div>   
                </md-content>
              </md-tab>
              <md-tab label="HU-4">
                <md-content class="md-padding">
                   <!-- HU 4-->   
                    <div flex layout = "column" layout-align = "center center">
                      <h4>HU-4</h4>
                    </div>
                    <br>  
                    <div flex layout = "row">
                        <md-input-container flex>
                          <label>Identificador</label>
                          <input ng-model="hu[5].identificadorHU" disabled>
                        </md-input-container>
                    </div>
                     <div flex layout = "row">
                        <md-input-container flex>
                          <label>Nombre</label>
                          <input ng-model="hu[3].nombreHU" disabled>
                        </md-input-container>
                    </div>
                      <md-input-container flex class="md-block" >
                      <label>Descripción</label>
                         <textarea ng-model="hu[3].descripcionHU" md-detect-hidden = "true" disabled></textarea>
                      </md-input-container>

                      <div flex layout = "column" layout-align = "center center">
                          <h4>Prueba de aceptación</h4>
                        </div>
                        <br>  
                        <div flex layout = "row">
                            <md-input-container flex>
                              <label>Identificador</label>
                              <input ng-model="pas[3].identificadorPA" disabled>
                            </md-input-container>
                        </div>
                         <div flex layout = "row">
                            <md-input-container flex>
                              <label>Nombre</label>
                              <input ng-model="pas[3].nombrePA" disabled>
                            </md-input-container>
                        </div>
                          <md-input-container flex class="md-block" >
                          <label>Descripción</label>
                             <textarea ng-model="pas[3].descripcionPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>
                          <md-input-container flex class="md-block" >
                            <label>Pre-condiciones</label>
                             <textarea ng-model="pas[3].precondicionesPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>
                          <md-input-container flex class="md-block" >
                            <label>Pasos</label>
                             <textarea ng-model="pas[3].pasosPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>
                          <md-input-container flex class="md-block" >
                            <label>Resultados esperados</label>
                             <textarea ng-model="pas[3].resultadosEPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>
                           <div align = "center">
                         <h4><md-icon md-svg-icon="img/icon/material/ic_priority_high_black_24px.svg" ></md-icon>Reglas</h4>
                         <ol align = "left">
                           <li>No se permite retirar montos igual o menores que 0</li>
                           <li>El sistema no permite retirar montos superiores al saldo disponible</li>
                           <li>Manejar el valor máximo soportado por el campo monto que es de 2147483647 y -2147483647</li>
                           <li>Notificar al usuario mediante un mensaje sobre el formato del monto a retirar. Ejemplo 10000</li>
                           <li>Notificar al usuario mediante un mensaje sobre el estado de su retiro.</li>
                           <li>Notificar al usuario mediante un mensaje sobre las restricciones del sistema en el caso que no las cumpla.</li>
                         </ol>
                       </div>   
                </md-content>
              </md-tab>
              <md-tab label="HU-5">
                <md-content class="md-padding">
                  <!-- HU 5-->    
                    <div flex layout = "column" layout-align = "center center">
                      <h4>HU-5</h4>
                    </div>
                    <br>  
                    <div flex layout = "row">
                        <md-input-container flex>
                          <label>Identificador</label>
                          <input ng-model="hu[4].identificadorHU" disabled>
                        </md-input-container>
                    </div>
                     <div flex layout = "row">
                        <md-input-container flex>
                          <label>Nombre</label>
                          <input ng-model="hu[4].nombreHU" disabled>
                        </md-input-container>
                    </div>
                      <md-input-container flex class="md-block" >
                      <label>Descripción</label>
                         <textarea ng-model="hu[4].descripcionHU" md-detect-hidden = "true" disabled></textarea>
                      </md-input-container>
                    
                    <div flex layout = "column" layout-align = "center center">
                          <h4>Prueba de aceptación</h4>
                        </div> 
                        <br> 
                        <div flex layout = "row">
                            <md-input-container flex>
                              <label>Identificador</label>
                              <input ng-model="pas[4].identificadorPA" disabled>
                            </md-input-container>
                        </div>
                         <div flex layout = "row">
                            <md-input-container flex>
                              <label>Nombre</label>
                              <input ng-model="pas[4].nombrePA" disabled>
                            </md-input-container>
                        </div>
                          <md-input-container flex class="md-block" >
                          <label>Descripción</label>
                             <textarea ng-model="pas[4].descripcionPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>
                          <md-input-container flex class="md-block" >
                            <label>Pre-condiciones</label>
                             <textarea ng-model="pas[4].precondicionesPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>
                          <md-input-container flex class="md-block" >
                            <label>Pasos</label>
                             <textarea ng-model="pas[4].pasosPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>
                          <md-input-container flex class="md-block" >
                            <label>Resultados esperados</label>
                             <textarea ng-model="pas[4].resultadosEPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>
                          <div align = "center">
                         <h4><md-icon md-svg-icon="img/icon/material/ic_priority_high_black_24px.svg" ></md-icon>Reglas</h4>
                         <ol align = "left">
                           <li>Validar el formato del rut, Formato correcto: 9214907-2</li>
                           <li>Entregar un ejemplo al usuario sobre el formato correcto del rut</li>
                           <li>No permite transferir montos menores o iguales a 0</li>
                           <li>No permite transferir un monto superior al saldo disponible</li>
                           <li>No permite transferir a la misma cuenta</li>
                           <li>No permite transferir si la cuenta del destinatario está cerrada</li>
                           <li>Manejar el valor máximo soportado por el campo monto que es de 2147483647 y -2147483647</li>
                           <li>Notificar al usuario mediante un mensaje sobre el formato del monto a transferir. Ejemplo 10000</li>
                           <li>Notificar al usuario mediante un mensaje sobre el estado de su transferencia.</li>
                           <li>Notificar al usuario mediante un mensaje sobre las restricciones del sistema en el caso que no las cumpla.</li>
                         </ol>
                       </div>       
                </md-content>
              </md-tab>
              <md-tab label="HU-6">
                <md-content class="md-padding">
                  <!-- HU 6-->  
                    <div flex layout = "column" layout-align = "center center">
                      <h4>HU-6</h4>
                    </div>
                    <br>  
                    <div flex layout = "row">
                        <md-input-container flex>
                          <label>Identificador</label>
                          <input ng-model="hu[5].identificadorHU" disabled>
                        </md-input-container>
                    </div>
                     <div flex layout = "row">
                        <md-input-container flex>
                          <label>Nombre</label>
                          <input ng-model="hu[5].nombreHU" disabled>
                        </md-input-container>
                    </div>
                      <md-input-container flex class="md-block" >
                      <label>Descripción</label>
                         <textarea ng-model="hu[5].descripcionHU" md-detect-hidden = "true" disabled></textarea>
                      </md-input-container>

                      <div flex layout = "column" layout-align = "center center">
                          <h4>Prueba de aceptación</h4>
                        </div>
                        <br>  
                        <div flex layout = "row">
                            <md-input-container flex>
                              <label>Identificador</label>
                              <input ng-model="pas[5].identificadorPA" disabled>
                            </md-input-container>
                        </div>
                         <div flex layout = "row">
                            <md-input-container flex>
                              <label>Nombre</label>
                              <input ng-model="pas[5].nombrePA" disabled>
                            </md-input-container>
                        </div>
                          <md-input-container flex class="md-block" >
                          <label>Descripción</label>
                             <textarea ng-model="pas[5].descripcionPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>
                          <md-input-container flex class="md-block" >
                            <label>Pre-condiciones</label>
                             <textarea ng-model="pas[5].precondicionesPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>
                          <md-input-container flex class="md-block" >
                            <label>Pasos</label>
                             <textarea ng-model="pas[5].pasosPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>
                          <md-input-container flex class="md-block" >
                            <label>Resultados esperados</label>
                             <textarea ng-model="pas[5].resultadosEPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>
                      <div flex layout = "column" layout-align = "center center">
                          <h4>Prueba de aceptación</h4>
                        </div>
                        <br>  
                        <div flex layout = "row">
                            <md-input-container flex>
                              <label>Identificador</label>
                              <input ng-model="pas[6].identificadorPA" disabled>
                            </md-input-container>
                        </div>
                         <div flex layout = "row">
                            <md-input-container flex>
                              <label>Nombre</label>
                              <input ng-model="pas[6].nombrePA" disabled>
                            </md-input-container>
                        </div>
                          <md-input-container flex class="md-block" >
                          <label>Descripción</label>
                             <textarea ng-model="pas[6].descripcionPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>
                          <md-input-container flex class="md-block" >
                            <label>Pre-condiciones</label>
                             <textarea ng-model="pas[6].precondicionesPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>
                          <md-input-container flex class="md-block" >
                            <label>Pasos</label>
                             <textarea ng-model="pas[6].pasosPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>
                          <md-input-container flex class="md-block" >
                            <label>Resultados esperados</label>
                             <textarea ng-model="pas[6].resultadosEPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>
                </md-content>
              </md-tab>
              <md-tab label="HU-7">
                <md-content class="md-padding">
                   <!-- HU-7-->  
                    <div flex layout = "column" layout-align = "center center">
                      <h4>HU-7</h4>
                    </div>
                    <br>  
                    <div flex layout = "row">
                        <md-input-container flex>
                          <label>Identificador</label>
                          <input ng-model="hu[6].identificadorHU" disabled>
                        </md-input-container>
                    </div>
                     <div flex layout = "row">
                        <md-input-container flex>
                          <label>Nombre</label>
                          <input ng-model="hu[6].nombreHU" disabled>
                        </md-input-container>
                    </div>
                      <md-input-container flex class="md-block" >
                      <label>Descripción</label>
                         <textarea ng-model="hu[6].descripcionHU" md-detect-hidden = "true" disabled></textarea>
                      </md-input-container>
                       <div flex layout = "column" layout-align = "center center">
                          <h4>Prueba de aceptación</h4>
                        </div>
                        <br>  
                        <div flex layout = "row">
                            <md-input-container flex>
                              <label>Identificador</label>
                              <input ng-model="pas[7].identificadorPA" disabled>
                            </md-input-container>
                        </div>
                         <div flex layout = "row">
                            <md-input-container flex>
                              <label>Nombre</label>
                              <input ng-model="pas[7].nombrePA" disabled>
                            </md-input-container>
                        </div>
                          <md-input-container flex class="md-block" >
                          <label>Descripción</label>
                             <textarea ng-model="pas[7].descripcionPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>
                                                    <md-input-container flex class="md-block" >
                            <label>Pre-condiciones</label>
                             <textarea ng-model="pas[7].precondicionesPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>
                          <md-input-container flex class="md-block" >
                            <label>Pasos</label>
                             <textarea ng-model="pas[7].pasosPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>
                          <md-input-container flex class="md-block" >
                            <label>Resultados esperados</label>
                             <textarea ng-model="pas[7].resultadosEPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>

                </md-content>
              </md-tab>
              <md-tab label="HU-8">
                <md-content class="md-padding">
                  <div flex layout = "column" layout-align = "center center">
                      <h4>HU-8</h4>
                    </div>
                    <br>  
                    <div flex layout = "row">
                        <md-input-container flex>
                          <label>Identificador</label>
                          <input ng-model="hu[7].identificadorHU" disabled>
                        </md-input-container>
                    </div>
                     <div flex layout = "row">
                        <md-input-container flex>
                          <label>Nombre</label>
                          <input ng-model="hu[7].nombreHU" disabled>
                        </md-input-container>
                    </div>
                      <md-input-container flex class="md-block" >
                      <label>Descripción</label>
                         <textarea ng-model="hu[7].descripcionHU" md-detect-hidden = "true" rows = "4" disabled></textarea>
                      </md-input-container>
                      <div flex layout = "column" layout-align = "center center">
                          <h4>Prueba de aceptación</h4>
                        </div>
                        <br>  
                        <div flex layout = "row">
                            <md-input-container flex>
                              <label>Identificador</label>
                              <input ng-model="pas[8].identificadorPA" disabled>
                            </md-input-container>
                        </div>
                         <div flex layout = "row">
                            <md-input-container flex>
                              <label>Nombre</label>
                              <input ng-model="pas[8].nombrePA" disabled>
                            </md-input-container>
                        </div>
                          <md-input-container flex class="md-block" >
                          <label>Descripción</label>
                             <textarea ng-model="pas[8].descripcionPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>
                         <md-input-container flex class="md-block" >
                            <label>Pre-condiciones</label>
                             <textarea ng-model="pas[8].precondicionesPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>
                          <md-input-container flex class="md-block" >
                            <label>Pasos</label>
                             <textarea ng-model="pas[8].pasosPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>
                          <md-input-container flex class="md-block" >
                            <label>Resultados esperados</label>
                             <textarea ng-model="pas[8].resultadosEPA" md-detect-hidden = "true" disabled></textarea>
                          </md-input-container>   
                </md-content>
              </md-tab>
            </md-tabs>   
</md-content>