<md-content class="md-whiteframe-z3" flex id="content">
 <div layout = "row">
  <div>
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">Inicio</li>
    </ol>
  </div>
</div>

<div layout-xs="column" flex layout = "column" layout-align = "center center">
		    <div >
			    <h3>Bienvenido a RAPSODIA</h3>
		    </div>
		    <div layout = "row" layout-align = "center center">
		    	<div layout = "column" >
			      <md-card>
			        <md-card-title>
			          <md-card-title-text>
			            <span class="md-headline">Material Teórico <md-icon md-svg-icon="img/icon/ic_import_contacts_black_24px.svg" ></md-icon> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp</span>
			            <br>
						<span align = "center" class="md-subhead">Visualice los conceptos, fundamentos y buenas prácticas<br>de las pruebas de software</span>
						<br>
						<br>
			          </md-card-title-text>
			        </md-card-title>
			      </md-card>
	      		</div>
	      		<div layout = "column" >
			      <md-card>
			        <md-card-title>
			          <md-card-title-text>
			            <span class="md-headline">Prueba Práctica <md-icon md-svg-icon="img/icon/ic_build_black_24px.svg" ></md-icon>  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp</span>
			            <br>
						<span align = "center" class="md-subhead">Pon en práctica los conceptos de las pruebas de software <br>resolviendo un problema de la vida real</span>
						<br>
						<br>
			          </md-card-title-text>
			        </md-card-title>
			      </md-card>
	      		</div>
	      		
      		</div>
      		<div layout = "row" layout-align = "center center">
	      		<div layout = "column" >
			      <md-card>
			        <md-card-title>
			          <md-card-title-text>
			            <span class="md-headline">Comunidades <md-icon md-svg-icon="img/icon/ic_group_black_24px.svg" ></md-icon></span>
			            <br>
						<span align = "center" class="md-subhead">Sea parte de las comunidades de RAPSODIA<br> y amplíe su conocimientos en las pruebas de software</span>
						<br>
						<br>
			          </md-card-title-text>
			        </md-card-title>
			      </md-card>
	      		</div>
	      		<div layout = "column" >
			      <md-card>
			        <md-card-title>
			          <md-card-title-text>
			            <span class="md-headline">Prueba Teórica <md-icon md-svg-icon="img/icon/ic_create_black_24px.svg" ></span>
			            <br>
						<span align = "center" class="md-subhead">Mida su conocimiento en los conceptos de las<br> pruebas de software resolviendo la evaluación teórica&nbsp&nbsp&nbsp</span>
						<br>
						<br>
			          </md-card-title-text>
			        </md-card-title>
			      </md-card>
	      		</div>
      		</div>
</div>
</md-content>
